<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="description" content="电子税务局">
    <meta name="keywords" content="名单查询 税务局">
    <title>名单查询</title>
    <link rel="stylesheet" href="../../../apps/styles/style.css">
    <link rel="stylesheet" href="zypszfmd_mdcx.css">
</head>
<body>
<!-- steps 插件容器 id="wizard" -->
<div id="wizard"></div>

<div id="mdcx" class="mdcx">
    <table class="mdcx-form ml5 mb10" id="mdcx-form">
        <tr>
            <td class="txt-r">纳税人识别号：</td>
            <td width="250">
                <input id="nsrsbh"
                       name="nsrsbh"
                       class="mini-textbox"
                       showClose="false"
                       vtype="nsrsbh"
                />
            </td>
            <td width="50"></td>
            <td class="txt-r">纳税人名称：</td>
            <td width="250">
                <input id="nsrmc"
                       name="nsrmc"
                       class="mini-textbox"
                       showClose="false"
                       vtype="maxLength:300;specialChar"
                />
            </td>
            <td width="50"></td>
            <td></td>
        </tr>
        <tr>
            <td><strong class="txt-red">*</strong>主管税务机关：</td>
            <td>
                <input id="zgswjgDm"
                       name="zgswjgDm"
                       class="mini-treeselect"
                       textfield="MC"
                       valuefield="ID"
                       parentField="PID"
                       shownullitem="true"
                       allowInput="false"
                       valueFromSelect="true"
                       required="true"
                       requiredErrorText="主管税务机关不能为空"
                       showClose="false"
                       onbeforenodeselect="mdcx.beforenodeselect"
                       onvaluechanged="mdcx.handleOnvaluechanged"
                />
            </td>
            <td></td>
            <td><strong class="txt-red"></strong>主管税务所（科、分局）：</td>
            <td>
                <input id="zgswskfjDm"
                       name="zgswskfjDm"
                       class="mini-treeselect"
                       textfield="MC"
                       valuefield="ID"
                       parentField="PID"
                       shownullitem="true"
                       allowInput="false"
                       valueFromSelect="true"
                       showClose="true"
                       onbeforenodeselect="mdcx.beforenodeselect"
                />
            </td>
            <td></td>
            <td class="txt-r">
                <a class="mini-button toolBtn-blue" id="mdcx-search" style="padding: 4px 15px;" onclick="mdcx.handleSearch">查询</a>
                <a class="mini-button toolBtn-blue ml20" style="padding: 4px 15px;" onclick="mdcx.handleDownload">导出</a>
            </td>
        </tr>
    </table>
    <div id="mdcx-grid"
         class="mini-datagrid"
         style="width:100%;height:350px;"
         multiSelect="true"
         showPager="true"
         showEmptyText="true"
         idField="id"
         checkSelectionOnly="true"
         allowCellSelect="true"
         allowCellEdit="false"
         enabled="true"
         allowResize="false"
         onpagechanged="mdcx.onpagechanged"
         onbeforeload="mdcx.onbeforeload"
         sizeList="[10,20,50]"
    >
        <div property="columns">
            <div type="indexcolumn" width="50">序号</div>
            <div field="nsrsbh" width="200" headerAlign="center" align="center">纳税人识别号</div>
            <div field="nsrmc" width="200" headerAlign="center" align="center">纳税人名称</div>
            <div field="zgswjgMc" headerAlign="center" align="center">主管税务机关</div>
            <div field="zgswskfjMc" width="200" headerAlign="center" align="center">主管税务所（科、分局）</div>
            <div field="ssglymc" headerAlign="center" align="center">管理员</div>
            <div field="fjfl" headerAlign="center" align="center">分级分类</div>
            <div field="xyjb" width="70" headerAlign="center" align="center">信用等级</div>
            <div field="dateCreated" headerAlign="center" align="center">更新时间</div>
            <div field="hasUsedZyps" width="150" headerAlign="center" align="center">是否使用过专业配送</div>
            <div field="cz" width="50" headerAlign="center" align="center" renderer="mdcx.renderAction">操作</div>
        </div>
    </div>

    <div class="mini-window" id="xq_win" title="详情" allowDrag="false"
        style="display:none; width: 600px; font-size: 14px;">
        <div style="margin: 10px;">注意：定额发票或卷票以份为单位展示</div>
        <div id="xq-grid"
         class="mini-datagrid"
         style="width:100%;height:100%;min-height: 250px;"
         multiSelect="false"
         showPager="false"
         showEmptyText="true"
         idField="id"
         allowCellEdit="false"
         allowResize="false"
         onbeforeload="xq.onbeforeload"             
    >
        <div property="columns">
            <div field="xh" width="50">序号</div>
            <div field="fpzlmc" width="300" headerAlign="center" align="center">发票种类名称</div>
            <div field="hdfs" width="100" headerAlign="center" align="center">核定份数</div>
        </div>
    </div>
        <div class="self-operation-btn" style="text-align: center;margin: 20px;">
            <a class="mini-button toolBtn-blue ml10" id="zgfkCancelBtn" onclick="handleCancel(e)">关闭</a>
        </div>
    </div>
</div>

<script src="../../../lib/jquery/jquery.min.js"></script>
<script src="../../../apps/scripts/miniui.js"></script>
<script src="zypszfmd_mdcx.js"></script>
</body>
</html>
