<!DOCTYPE html>
<html lang="en">
  <head>
    <title>事项受理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <link rel="stylesheet" href="../dbsx/swsxtzs.css" />
    <link rel="stylesheet" href="../sxgz/cxtj_sxgz.css" />
    <style>
      .form-title {
        text-align: center;
      }

      .form-table tr {
        height: 38px;
        text-align: left;
      }
      .cxsfxytitle {
        background: #eee;
        padding-left: 20px;
        height: 36px;
        line-height: 36px;
      }

      .ptmsxx {
        width: 358px;
        min-height: 40px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding: 5px 5px 5px 10px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
      }
      .marginDiv {
        margin-right: 10px;
      }
      .marginDiv .mini-checkbox {
        line-height: 38px;
      }
      .mini-radiobuttonlist {
        vertical-align: middle;
      }
      .mini-radiobuttonlist .mini-errorIcon {
        top: 6px !important;
      }
      .mini-radiobuttonlist-item input {
        vertical-align: text-bottom;
      }
      .red {
        color: red;
        margin: 5px;
      }

      .mini-textarea .mini-textbox-border {
        height: 78px !important;
      }

      .wldkYl .mini-tabs-bodys {
        padding: 5px 0 !important;
      }
    </style>
  </head>
  <body oncontextmenu="return false">
    <div class="mini-fit">
      <div class="editform">
        <h3 style="margin: 3px auto; text-align: center;">
          <span id="swsxMc"></span>受理
        </h3>
        <div
          class="width970 infodiv"
          style="margin-top: -10px; padding-top: 0;"
        >
          <fieldset class="bor" style="padding-bottom: 3px; margin-top: 10px;">
            <legend><h3>基本信息</h3></legend>
            <table
              id="nsrjbxx"
              width="100%"
              border="0"
              cellspacing="0"
              cellpadding="0"
              class="infotab"
              style="line-height: 18px;"
            >
              <tr>
                <th>任务来源：</th>
                <td>电子税务局</td>

                <th>证件号码：</th>
                <td><span id="sqr"></span></td>

                <th>纳税人名称：</th>
                <td><span id="nsrmc"></span></td>

                <th class="kqysxfk" style="display: none;">联系电话：</th>
                <td class="kqysxfk" style="display: none;">
                  <span id="lxdh"></span>
                </td>
              </tr>
              <tr>
                <th>提交日期：</th>
                <td><span id="cjsj"></span></td>
                <th>办理期限：</th>
                <td><span id="blqx"></span></td>
                <th>文书号：</th>
                <td><span id="wsh"></span></td>
              </tr>
              <tr style="display: none;">
                <th>申请人：</th>
                <td><span id="jbrmc"></span><span id="sjhm"></span></td>
                <th>申请序号：</th>
                <td><span id="sqxh"></span></td>
              </tr>
            </table>
          </fieldset>
          <br />
          <div
            id="tabs1"
            class="mini-tabs tab-content"
            activeIndex="0"
            style="width: 100%; height: 500px;"
          >
            <div title="申请表">
              <div id="dbsx_content"></div>
            </div>
            <div title="附报资料"></div>
          </div>
          <!--<div id="dbsx_content"></div>-->
        </div>
      </div>
    </div>
    <div class="dbsx-actions">
      <a
        id="sqbPrintBtn"
        style="display: block;"
        class="mini-button"
        onclick="sqbPrint()"
        >下载鉴定表</a
      >
      <a id="sxbjBtn" class="mini-button">予以受理</a>
      <a id="shbjBtn" class="mini-button">予以受理</a>
      <a id="bzzlBtn" class="mini-button">补正资料</a>
      <a id="byslBtn" class="mini-button">不予受理</a>
      <a id="yclBtn"  class="mini-button">已处理</a>
      <a class="mini-button" onclick="doBack()" id="backBtn">返回</a>
    </div>

    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../scripts/miniui.js"></script>
    <script src="../../scripts/gldcommon.js"></script>
    <script src="../../scripts/gldbfslkz.js"></script>
    <script src="sxsl_service.js"></script>
    <script src="sxsl_common.js"></script>
    <script src="dbsx_sxsl.js"></script>
    <script src="sqzlView.js"></script>
    <script>
      // 覆盖 setViewData 方法
      sqzl.setViewData = function (viewData) {
        if (!viewData || $.isEmptyObject(viewData)) {
          mini.alert("未获取到申请资料数据", "提示");
          return false;
        } else {
          sqzl.content.show();
        }

        var elements = document.querySelectorAll("[data-view-type]"),
          targetId = null,
          targetType = null,
          data = {};
        for (var i = 0, len = elements.length; i < len; i++) {
          targetId = elements[i].getAttribute("id");
          targetType = elements[i].getAttribute("data-view-type");
          if (!!targetType) {
            targetType = targetType.toLowerCase();
            if (targetType === "form") {
              var form = new mini.Form("#" + targetId);
              data[targetId] = form.setData(viewData[targetId] || {});
            } else if (targetType === "datagrid") {
              targetId =
                elements[i].children[0].getAttribute("id") ||
                $(elements[i]).children(0)._id();
              if (!targetId) {
                sqzl.throwError(
                  "data-view-type=datagrid 第一个子节点的id未获取到，请检查第一个子节点！"
                );
                return false;
              }
              var grid = mini.get(targetId);
              if (!grid) {
                sqzl.throwError(
                  "获取" + targetId + "grid 失败，检查预览页面上是否有这个grid"
                );
              }
              data[targetId] = grid.setData(viewData[targetId] || []);
            }
          }
        }

        if (viewData.sqbForm.wz == "true") {
          $("#ylwzDiv").show();
        }
        if (viewData.sqbForm.app == "true") {
          $("#ylappDiv").show();
          var appOptions = [
            { id: "0", mc: "安卓" },
            { id: "1", mc: "ios" },
            { id: "2", mc: "华为" },
            { id: "3", mc: "其它" },
          ];
          var appArr = mini.decode(viewData.sqbForm.appList || []);
          for (var i = 0; i < appArr.length; i++) {
            var html =
              "<div>" +
              '<input id="xtComYl' +
              i +
              '" name="xtCom' +
              i +
              '" style="width: 30%;display: inline-block;" class="mini-combobox"  emptyText="系统" value="' +
              appArr[i].xt +
              '" valueField="id" textField="mc" value="' +
              appArr[i].xt +
              '" readOnly>' +
              ' <input id="xtIpt' +
              i +
              '" name="xtIpt' +
              i +
              '" style="width: 50%;display: inline-block;" class="mini-textbox"  value="' +
              appArr[i].appName +
              '" readOnly>' +
              "</div>";
            if (appArr.length == 1) {
              html =
                "<div>" +
                '<input id="xtComYl' +
                i +
                '" name="xtCom' +
                i +
                '" style="width: 30%;display: inline-block;" class="mini-combobox"  emptyText="系统" value="' +
                appArr[i].xt +
                '" valueField="id" textField="mc" allowInput="false" emptyText="系统" value="' +
                appArr[i].xt +
                '"  readOnly>' +
                ' <input id="xtIpt' +
                i +
                '" name="xtIpt' +
                i +
                '" style="width: 50%;display: inline-block;" class="mini-textbox"  value="' +
                appArr[i].appName +
                '" readOnly>' +
                "</div>";
            }
            $("#ylappDiv").append(html);
            mini.parse();
            mini.get("xtComYl" + i).setData(appOptions);
          }
        }
        if (viewData.sqbForm.qt == "true") {
          $("#ylqtDiv").show();
        }
      };

      /**
       * 初始化页面
       * @param data 对象
       */
      sxslcommon.initSxslPage = function (data) {
        var flag = true;
        if (!!data) {
          // 未受理的展示当前日期  已受理的展示受理日期
          if (sxslcommon.urlParams.blqx) {
            data.blqx = sxslcommon.urlParams.blqx;
          } else {
            data.blqx = data.blqx;
          }
          // 头部加入受理名称
          $("#swsxMc").text(data.swsxMc);
          // 基本信息中加入查出的信息
          $("#nsrjbxx span").each(function (i, v) {
            $(v).text(data[$(v).attr("id")]);
          });

          // 将数据存到对应的对象中
          sxsl_store.lcslId = sxslcommon.urlParams.lcslId;
          sxsl_store.rwbh = sxslcommon.urlParams.rwbh;
          // 补录资料URL地址，为空说明不需要补录：
          sxsl_store.sqxh = data.sqxh;
          sxsl_store.swsxDm = data.swsxDm;
          sxsl_store.nsrsbh = data.sqr;
          sxsl_store.sxshfsDm = data.sxshfsDm;
          //sxsl_store.nsrmc=data.nsrmc;
          fbzlSqxh = data.sqxh;
          sxsl_store.rwztDm = data.rwztDm;
          sxsl_store.djxh = data.djxh;
          // 加载信息特色信息
          ajax.get("../../data/swsxDm.json", {}, function (responseJson) {
            responseJson = mini.decode(responseJson);
            sxsl_store.ylUrl = responseJson[sxsl_store.swsxDm].ylView;
            sxsl_store.ylJs = responseJson[sxsl_store.swsxDm].ylJs;
            sxsl_store.blzlUrl = responseJson[sxsl_store.swsxDm].blxx;
          });
          var tabs = mini.get("tabs1");
          if (tabs) {
            // 附报资料Tab页加载
            var fbzlTab = tabs.getTab(1);
            tabs.loadTab("../fbzl/fbzlPage.html", fbzlTab);
            mini.parse($("#tabs1"));
            if (
              $.inArray(data.swsxDm, [
                "110113",
                "110133",
                "110212",
                "110213",
                "110214",
                "110207",
                "110208",
                "200006",
                "200007",
                "200001",
              ]) > -1
            ) {
              //外经证申报则不显示第二个tab页
              tabs.removeTab(1);
            }
            // 操作按钮显示初始化
            displayButton(data.swsxDm, data.sxshfsDm);
          }

          //初始化 文书申请信息
          sxsl_store.sqsxData = sxslService.queryWssqxxData(sxsl_store.sqxh);
          sxsl_store.sqsxData = mini.decode(sxsl_store.sqsxData);
          //跨区域涉税事项反馈显示联系手机号码   http://192.168.2.82:8080/redmine/issues/269295
          if (data.swsxDm == "110806") {
            $(".kqysxfk").show();
            $("#lxdh").text(sxsl_store.sqsxData.sjhm || "");
          } else {
            $(".kqysxfk").hide();
          }

          if (!sxsl_store.sqsxData.viewData) {
            flag = false;
          } else {
            // 加载预览页面js
            if (!!sxsl_store.ylJs) {
              gldUtil.loadScript(sxsl_store.ylJs);
            }
            sqzl.initPage(
              sxsl_store.ylUrl,
              mini.decode(sxsl_store.sqsxData.viewData),
              sxsl_store
            );
          }

          //如果是网络平台代开，并且type为 “ check ”， 只展示返回按钮
          var isWlptdk = gldUtil.getParamFromUrl();
          if (isWlptdk.type === "check") {
            $("#sqbPrintBtn").hide();
            $("#sxbjBtn").hide();
            $("#shbjBtn").hide();
            $("#bzzlBtn").hide();
            $("#byslBtn").hide();
            $("#yclBtn").hide();
          } else {
            $("#sqbPrintBtn").hide();
            $("#sxbjBtn").hide();
            $("#shbjBtn").show();
            $("#bzzlBtn").show();
            $("#byslBtn").show();
            $("#yclBtn").hide();
          }
        }
        return flag;
      };    
    </script>
  </body>
</html>
