<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>税务事项</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="dbsxcx.css">
    <style type="text/css">
        .grid-cell-warning {
            background: #fcffcc
        }

        .grid-cell-error {
            background: #ff9669
        }
        #cxtjForm .cxtjTable {
            width: 90% !important;
        }
    </style>
</head>

<body>
    <div class="tab-bar">
        <a id="sydb" onclick="doSearch(this)" class="active">所有待办</a>
        <!--<a id="swdjxxbl" onclick="doSearch(this)">税务登记信息补录</a>
        <a id="zzsyhjmba" onclick="doSearch(this)">增值税税收减免备案申请</a>
        <a id="zzsjzjtba" onclick="doSearch(this)">增值税即征即退备案</a>
        <a id="xfsssjmba" onclick="doSearch(this)">消费税税收减免备案</a>
        <a id="bgswdj" onclick="doSearch(this)">变更税务登记</a>
        <a id="fply" onclick="doSearch(this)">发票申领-专业配送</a>
        <a id="kqydb" onclick="doSearch(this)">跨区域待办</a>
        <a id="zrdb" onclick="doSearch(this)">网厅待办</a>-->

        <!-- <a id="fply-dt" onclick="doSearch(this)">发票申领-大厅领取</a> -->

    </div>
    <div class="search">
        <div class="searchC">显示查询条件</div>
    </div>
    <div id="cxtjForm" class="searchdiv">
        <table width="96%" border="0" cellspacing="0" cellpadding="0" class="cxtjTable" id="qtcxTable">
            <tr>
                <th style="width: 20%">社会信用代码（纳税人识别号）：</th>
                <td style="width: 20%; padding: 5px 0;"><input id="nsrsbh" name="nsrsbh" class="mini-textbox" style="width:100%;" /></td>
                <th style="width: 20%">主管税务机关：</th>
                <td style="width: 20%"><input id="swjgdm" name="swjgdm" class="mini-treeselect" style="width:100%;"
                           textfield="swjgmc" valuefield="swjgdm" parentField="sjswjgdm" popupWidth="574" url="../../../../api/xj/wtgl/cxtj/getSxtjSwjg"
                           showNullItem="true" nullItemText="--请选择--" allowInput="true" valueFromSelect="true"/>
                </td>
            </tr>
            <tr>
                <th>文书号：</th>
                <td><input id="wsh" name="wsh" class="mini-textbox" style="width:100%;" /></td>
                <!-- <th>事项类型：</th>-->
                <td><input id="swsxDm" name="swsxdm"  class="mini-hidden"
                           textfield="MC" valuefield="ID"
                           shownullitem="false" style="width:100%;" multiSelect = "true"
                           url="/dzgzpt-wsys/api/baseCode/get/getSwsx"/></td>
            </tr>

            <tr style="line-height: 40px;">
                <th>收到日期：</th>
                <td nowrap><input id="sdrqQ" name="sdrqQ" class="mini-datepicker" format="yyyy-MM-dd" style="width:45%"
                                  emptytext="" required="true"/>
                    <span style="width: 5%; display: inline-block;">至</span>
                    <input id="sdrqZ" name="sdrqZ" class="mini-datepicker" format="yyyy-MM-dd" style="width:47%"
                           emptytext="" required="true"/></td>
                <th>办理期限：</th>
                <td nowrap><input id="blqxQ" name="blqxQ" class="mini-datepicker" format="yyyy-MM-dd" style="width:45%"
                        emptytext="" />
                    <span style="width: 5%; display: inline-block;">至</span>
                    <input id="blqxZ" name="blqxZ" class="mini-datepicker" format="yyyy-MM-dd" style="width:47%"
                        emptytext="" /></td>
            </tr>
            <tr>
                <td colspan="4" style="padding:10px; text-align:center;">
                    <a id="search" class="mini-button" onclick="doSearch(this)">查询</a>
                    <a class="mini-button" onclick="doReset()">重置</a>
            </tr>
        </table>
        <table width="96%" border="0" cellspacing="0" cellpadding="0" class="cxtjTable" style="width:96%" id="zrdbcxTable">
            <tr>
                <th>项目大类：</th>
                <td><input class="mini-combobox" emptyText="———请选择" style="width:100%" onvaluechanged="xmdlChanged"
                        textfield="MC" valuefield="ID" id="xmdl" name="xmdl" allowinput="false"
                        data='[{"ID":"01","MC":"网上办税"}]' />
                </td>
                <th>项目中类：</th>
                <td><input class="mini-combobox" emptyText="———请选择" style="width:100%" textField="MC" valueField="ID"
                        onvaluechanged="xmzlChanged" id="xmzl" name="xmzl" allowinput="false" data="xmzlData" />
                </td>

                <th>项目小类：</th>
                <td><input class="mini-combobox" emptyText="———请选择" style="width:100%" textField="MC" valueField="ID"
                        onvaluechanged="xmxlChanged" id="xmxl" name="xmxl" allowinput="false" dadata="xmxlData" />
                </td>
            </tr>
            <tr>
                <th>涉税事项项目：</th>
                <td>
                    <input property="editor" id="sssxxm" name="sssxxm" class="mini-combobox" allowInput="true"
                        onvaluechanged="sssxxmChanged" valueFromSelect="true" style="width:100%;" textField="mc"
                        valueField="xmDm" data="sssxxmData" />
                </td>
                <th>社会信用代码（纳税人识别号）：</th>
                <td style="padding:10px 0;"><input id="nsrsbm" name="nsrsbm" class="mini-textbox" style="width:100%;" />
                </td>
                <th>文书号：</th>
                <td style="padding:10px 0;"><input id="wshm" name="wshm" class="mini-textbox" style="width:100%;" />
                </td>
            </tr>
            <tr>
                <th>申请日期起：</th>
                <td><input id="sqrqq" name="sqrqq" class="mini-datepicker" format="yyyy-MM-dd" emptytext="" required = "true"/></td>
                <th>申请日期止：</th>
                <td><input id="sqrqz" name="sqrqz" class="mini-datepicker" format="yyyy-MM-dd" emptytext="" required = "true"/></td>
            </tr>
            <tr>
                <td colspan="6" style="padding:10px; text-align:center;">
                    <a id="search" class="mini-button" onclick="doSearch(this)">查询</a>
                    <a class="mini-button" onclick="doReset()">重置</a>
            </tr>
        </table>
    </div>

    <div class="mini-fit" id="dblbzr" style="display:none">
        <div id="dbsxGridzrdb" idField="lx" class="mini-datagrid" showPager="true" style="width: 100%; height:100%;"
            multiSelect="true" sizeList="[30,50,100]" pageSize="30">
            <div property="columns">
                <div type="indexcolumn">序号</div>
                <div field="wsh" headeralign="center" align="center" allowsort="false" width="80">文书号</div>
                <div field="swjgjc" headeralign="center" align="center" allowsort="false" width="120">管理机关</div>
                <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="120">纳税人识别码</div>
                <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="120">纳税人名称</div>
                <div field="sssxMc" headeralign="center" align="center" allowsort="false" width="120">申请事项名称</div>
                <div field="sqsj" dateFormat="yyyy-MM-dd HH:mm:ss" headeralign="center" align="center" allowsort="false" width="120">申请日期</div>
                <div field="wszt" headeralign="center" align="center" allowsort="false" width="80">文书状态</div>
                <div field="a20" name="a20" renderer="onActionRendererZrdb" headeralign="center" align="center" allowsort="false" width="80">操作</div>
            </div>
        </div>
    </div>

    <div class="mini-fit" id="dblbkq">
        <div id="dbsxGridkqdb" idField="lx" class="mini-datagrid" showPager="true" style="width:100%;height:100%;"  multiSelect="true"
             sizeList="[30,50,100]" pageSize="30">
            <div property="columns">
                <div type="indexcolumn">序号</div>
                <div field="wsh" headeralign="center" align="center" allowsort="false" width="145">文书号</div>
                <!--
                            <div field="ywlb" headeralign="center" align="center" allowsort="false" width="80">业务类别</div>
                -->
                <div field="zgswskfjJc"  align="center" align="center" allowsort="false" width="170">主管税务机关</div>
                <div field="swsxmc" headeralign="center" align="center" allowsort="false" width="120">任务名称</div>
                <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="155">社会信用代码<br/>（纳税人识别号）</div>
                <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="120">纳税人名称</div>
                <div field="sqsj" headeralign="center" dateFormat="yyyy-MM-dd HH:mm:ss"  align="center" allowsort="false" width="80">收到日期</div>
                <div field="blqx" headeralign="center" align="center"  allowsort="false" width="80">办理期限</div>
                <div field="sqxh" visible="false" renderer="pzhdActionRenderer" ></div>
                <div field="rwztmc" renderer="rwztRenderer" headeralign="center" align="center" allowsort="false" width="60">受理状态</div>
                <div field="a10" name="a10" headeralign="center" align="center" allowsort="false" renderer="onActionRendererKq" width="50">操作</div>
            </div>
        </div>
    </div>

    <div class="mini-fit" id="dblbfpsl">
        <div id="dbsxGridfpsldb" idField="lx" class="mini-datagrid" showPager="true" style="width:100%;height:100%;"  multiSelect="true"
             sizeList="[30,50,100]" pageSize="30">
            <div property="columns">
                <div type="indexcolumn">序号</div>
                <div field="wsh" headeralign="center" align="center" allowsort="false" width="145">文书号</div>
                <div field="zgswskfjJc"  align="center" align="center" allowsort="false" width="170">主管税务机关</div>
                <div field="swsxmc" headeralign="center" align="center" allowsort="false" width="120">任务名称</div>
                <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="155">社会信用代码<br/>（纳税人识别号）</div>
                <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="100">纳税人名称</div>
                <div field="sqsj" headeralign="center" dateFormat="yyyy-MM-dd HH:mm:ss"  align="center" allowsort="false" width="80">收到日期</div>
                <div field="blqx" headeralign="center" align="center"  allowsort="false" width="80">办理期限</div>
                <div field="sqxh" visible="false" renderer="pzhdActionRenderer" ></div>
                <div field="rwztmc" renderer="fpslRwztRenderer" headeralign="center" align="center" allowsort="false" width="80">受理状态</div>
                <div field="a10" name="a10" headeralign="center" align="center" allowsort="false" renderer="onActionRendererFp" width="50">操作</div>
            </div>
        </div>
    </div>

    <div class="mini-fit" id="dblb">
            <div id="dbsxGrid" idField="lx" class="mini-datagrid" showPager="true" style="width:100%;height:100%;"  multiSelect="true"
                 sizeList="[30,50,100]" pageSize="30">
                <div property="columns">
                    <div type="indexcolumn">序号</div>
                    <div field="wsh" headeralign="center" align="center" allowsort="false" width="145">文书号</div>
        <!--
                    <div field="ywlb" headeralign="center" align="center" allowsort="false" width="80">业务类别</div>
        -->
                    <div field="zgswskfjJc"  align="center" align="center" allowsort="false" width="170">主管税务机关</div>
                    <div field="swsxmc" headeralign="center" align="center" allowsort="false" width="120">任务名称</div>
                    <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="155">社会信用代码<br/>（纳税人识别号）</div>
                    <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="120">纳税人名称</div>
                    <div field="sqsj" headeralign="center" dateFormat="yyyy-MM-dd HH:mm:ss"  align="center" allowsort="false" width="80">收到日期</div>
                    <div field="blqx" headeralign="center" align="center"  allowsort="false" width="80">办理期限</div>
                    <div field="sqxh" visible="false" renderer="pzhdActionRenderer" ></div>
                    <div field="rwztmc" renderer="rwztRenderer" headeralign="center" align="center" allowsort="false" width="60">受理状态</div>
                    <div field="a10" name="a10" headeralign="center" align="center" allowsort="false" renderer="onActionRenderer" width="50">操作</div>
                </div>
            </div>
        </div>

    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../scripts/miniui.js"></script>
    <script src="../../scripts/efg_water.js"></script>
    <script src="../../scripts/gldcommon.js"></script>
    <script src="../../scripts/gldbfslkz.js"></script>
    <script src="dbsxcx.js"></script>
</body>

</html>