.mini-window .mini-panel-border, .mini-window.mini-messagebox .mini-panel-border {
  border: 1px solid #ccc; }

.mini-window .mini-panel-border .mini-panel-viewport .mini-panel-footer {
  border-bottom: 1px solid #ccc; }

.mini-window .mini-panel-border .mini-panel-viewport .mini-messagebox-buttons, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-messagebox-buttons {
  padding: 0 20px 18px; }
