
<section>
  <div class="wcjykjYl" id="step_yl_form" data-view-type="form">
      <div title="增值税税收减免优惠备案">
        <!--内容1开始-->
        <h5>增值税税收减免优惠备案登记表</h5>
        <div>
          <div data-view-type="form" id="jmsbadjyhylForm">
            <table width="80%" class="form-table">
              <tr>
                <td class="txt-r">税（费）种：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="sfz" style="width:80%;" readonly value="增值税" class="mini-textbox"/>
                </td>
              </tr>
              <tr>
                <td class="txt-r">减免项目：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="jmsspsxDmText" style="width:80%" class="mini-textbox" readonly/>
                </td>
              </tr>
              <tr>
                <td class="txt-r">减免税政策依据：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="ssjmxzhzDmText" style="width:80%;" class="mini-textbox" readonly />
                </td>
              </tr>
              <tr>
                <td class="txt-r">减免期限起：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="jmqxq" style="width:80%;" class="mini-datepicker" readonly format="yyyy-MM-dd" />
                </td>
              </tr>
              <tr>
                <td class="txt-r">减免期限止：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="jmqxz" style="width:80%;" class="mini-datepicker" readonly format="yyyy-MM-dd"/>
                </td>
              </tr>
              <tr class="hidden" id="rowHtmc_yl" style="display: none;">
                <td class="txt-r">合同名称：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="htmc" style="width:80%;" class="mini-textbox" readonly />
                </td>
              </tr>
              <tr class="hidden" id="rowHtbh_yl" style="display: none;">
                <td class="txt-r">合同编号：</td>
                <td class="search-item-control" colspan="2">
                  <input  name="htbh" style="width:80%;" class="mini-textbox" readonly/>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  </div>
</section>
