<div id="zzsybnsrdjDiv" data-view-type='form' style="margin:20px auto;width:600px;">
    <table class="form-table">
        <tr>
            <th width="30%" style="text-align:right">增值税纳税人类型：</th>
            <td>
                <input name="nsrlxText" readonly class="mini-textbox"/>
            </td>
        </tr>
        <tr>
            <th style="text-align:right">主营业务描述：</th>
            <td>
                <input name="nsrzyYwms" id="nsrzyYwms" readonly class="mini-textarea" style="width:100%"/>
            </td>
        </tr>
        <tr class="only-ybnsr">
            <th style="text-align:right">纳税人类别：</th>
            <td>
                <input name="nsrlbDmText" readonly class="mini-textbox"/>
            </td>
        </tr>
        <tr class="only-ybnsr">
            <th style="text-align:right">主营业务类别：</th>
            <td>
                <input name="nsrzyDmText" readonly class="mini-textbox"/>
            </td>
        </tr>
        <tr class="only-ybnsr">
            <th style="text-align:right">会计核算健全：</th>
            <td>
                <input name="kjhsjqbzText" readonly class="mini-textbox"/>
            </td>
        </tr>
        <tr class="only-ybnsr">
            <th style="text-align:right">一般纳税人资格生效之日：</th>
            <td>
                <input name="ybnsrzgsxrqText" readonly class="mini-textbox"/>
            </td>
        </tr>                                                                           
    </table>
</div>
    