<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="定时任务执行情况查询">
    <meta name="keywords" content="ghqc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>定时任务执行情况查询</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <style>
        body {
            height: auto;
        }

        .cxtjTable th {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="search-box" id="search-box">
        <table width="90%" border="0" cellspacing="0" cellpadding="0" class="cxtjTable" style="margin: 20px auto;">
            <tr>
                <th style="width: 12%">主管税务机关：</th>
                <td style="width:21%">
                    <input id="swjgDm" name="swjgDm" class="mini-treeselect" textfield="MC" valuefield="ID"
                        parentField="PID" popupWidth="374"
                        url="/dzgzpt-wsys/api/baseCode/get/baseCodeTree/DM_GY_SWJG_GT3_SH2" showNullItem="true"
                        nullItemText="--请选择--" allowInput="true" valueFromSelect="true" style="width:100%;" required
                        requiredErrorText="请选择主管税务机关" />
                </td>
                <th style="width: 12%">任务执行时间起止：</th>
                <td style="width: 21%" nowrap>
                    <input id="rwzxrqQ" name="rwzxrqQ" type="text" class="mini-datepicker" style="width: 46%"
                        format="yyyy-MM-dd" requiredErrorText="请选择任务执行时间起" required
                        onvaluechanged="cxtj.dateChange(e,'minDate','rwzxrqZ')" />至
                    <input id="rwzxrqZ" name="rwzxrqZ" type="text" class="mini-datepicker" style="width: 46%"
                        format="yyyy-MM-dd" requiredErrorText="请选择任务执行时间止" required
                        onvaluechanged="cxtj.dateChange(e,'maxDate','rwzxrqQ')" />
                </td>
                <!-- <th style="width: 12%">任务执行时间止：</th>
                <td style="width: 21%" nowrap>
                    <input id="rwzxrqZ" name="rwzxrqZ" type="text" class="mini-datepicker" style="width: 100%"
                        format="yyyy-MM-dd" requiredErrorText="请选择任务执行时间止" required
                        onvaluechanged="cxtj.dateChange(e,'maxDate','rwzxrqQ')" />
                </td> -->
            </tr>
            <tr>
                <td colspan="6" style="padding:10px; text-align:center;">
                    <a id="search" class="mini-button" onclick="cxtj.search(0, 30)">查询</a>
                    <a id="reset" class="mini-button" onclick="cxtj.doReset()">重置</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="mini-datagrid" id="cxtj_grid" showpager="false" style="width: 98%;margin: 0 auto; height:400px;"
        showEmptyText="true" emptyText="<span style= 'color:#ff0000;'>没有数据</span>">
        <div property="columns">
            <div field="rwzxrqQ" headeralign=" center" align="center" width="150">任务执行时间起</div>
            <div field="rwzxrqZ" headeralign="center" align="center" width="150">任务执行时间止</div>
            <div field="swjgMc" headeralign="center" align="center" width="250" renderer="onSwjgrenderer">主管税务机关</div>
            <div field="total" headeralign="center" align="center" renderer="onzxzhsrenderer">执行总户数</div>
            <div field="jbcg" headeralign="center" align="center" renderer="onzxzhsrenderer">降版成功户数</div>
            <div field="gt3fail" headeralign="center" align="center" renderer="onzxzhsrenderer">同步金三失败户数</div>
            <div field="fpfail" headeralign="center" align="center" renderer="onzxzhsrenderer">同步发票2.0失败户数</div>
        </div>
    </div>
    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../scripts/miniui.js"></script>
    <script src="../../scripts/efg_water.js"></script>
    <script src="../../scripts/gldcommon.js"></script>
    <script src="dsrwzxqkcx.js"></script>
</body>

</html>