<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>税务事项</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../scripts/miniui.js"></script>
</head>
<body style="background:#fff;">
<div class="mini-tabs" activeIndex="0" style="width:100%;height:100%;">
    <div title="云厅1.0待办事项">
        <iframe src="http://75.16.16.140:6001/HbWslz/pages/wtgl/dbsx_sl_sy.html" width="100%" height="100%"></iframe>
    </div>
    <div title="云厅2.0待办事项">
        <iframe src="http://75.16.16.140:8150/dzgzpt-wsys/dzgzpt-wsys/apps/views/dbsx/dbsxcx.html" width="100%"
                height="100%"></iframe>
    </div>
</div>
</body>
</html>