#enterprise_info_form .btn-set .mini-button {
    float: right;
    margin-left: 5px;
}

#enterprise_info_form .disabled-field > span {
    margin-right: 10px;
}

#enterprise_info_form .disabled-field > span:last-of-type {
    margin-right: 0;
}