<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>终审情况查询统计</title>
    <link rel="stylesheet" href="../../../apps/styles/style.css">
    <link rel="stylesheet" href="./cxtj.css">
</head>

<body style="background:#fff;">
    <div class="search" onclick="zsqkcxtj.showsearch()">
        <div class="searchC">显示查询条件</div>

    </div>
    <div id="cxtjForm" class="searchdiv">
        <table width="96%" border="0" cellspacing="0" cellpadding="0"
            style="padding:0 30px;margin-bottom: 10px;margin: auto">
            <tr>
                <th align="right" style="width:10%">纳税人社会信用码（纳税人税号）：</th>
                <td style="width:35%"><input id="nsrsbh" name="nsrsbh" class="mini-textbox" style="width:100%;" /></td>

                <th align="right" style="width:10%">主管税务机关：</th>
                <td style="width: 40%"><input id="zgswskfjDm" name="zgswskfjDm" class="mini-treeselect"
                        style="width:100%;" textfield="swjgmc" valuefield="swjgdm" parentField="sjswjgdm"
                        popupWidth="574" url="../../../../api/xj/wtgl/cxtj/getSxtjSwjg" showNullItem="true"
                        nullItemText="--请选择--" allowInput="true" valueFromSelect="true" />
                </td>
            </tr>
            <tr>
                <th align="right">文书号：</th>
                <td><input id="wsh" name="wsh" class="mini-textbox" style="width:100%;" /></td>
                <th align="right">事项类型：</th>
                <td><input id="swsxdm" name="swsxdm" class="mini-combobox" textfield="swsxmc" valuefield="swsxdm"
                        shownullitem="false" style="width:100%;" />
                </td>
            </tr>
            <tr>
                <th align="right">收到日期起：</th>
                <td nowrap><input id="sdrqQ" name="sdrqQ" class="mini-datepicker" format="yyyy-MM-dd"
                        style="width: 100%" required="true" />
                <th align="right">收到日期止：</th>
                <td nowrap><input id="sdrqZ" name="sdrqZ" class="mini-datepicker" format="yyyy-MM-dd"
                        style="width: 100%" required="true" />
            </tr>
            <tr>
                <th align="right">受理状态：</th>
                <td><input id="slzt" name="slzt" class="mini-combobox" textfield="text" valuefield="id"
                        data="[{id: '01', text: '受理通过'},{id: '04', text: '审批通过'},{id: '05', text: '审批不通过'}]"
                        shownullitem="false" style="width:100%;" value=" " />
                </td>
            </tr>

            <tr>
                <td colspan="4" style="padding:10px; text-align:center;">
                    <a id="search" class="mini-button" onclick="zsqkcxtj.doSearch(this)">查询</a>
                    <a class="mini-button" onclick="zsqkcxtj.doReset()">重置</a>
            </tr>
        </table>
    </div>
    <div class="mini-fit">
        <div id="cxGrid" idField="cxGrid" class="mini-datagrid" allowHeaderWrap="true" showPager="true"
            style="width: 100%; height:600;" sizeList="[10,30,50,100]" pageSize="10">
            <div property="columns">
                <div type="indexcolumn" width="50">序号</div>
                <div field="wsh" headeralign="center" align="center" allowsort="false" width="160">文书号
                </div>
                <div field="zgswskfjJc" headeralign="center" align="center" allowsort="false" width="120">主管税务机关</div>
                <div field="swsxmc" headeralign="center" align="center" allowsort="false" width="160">任务名称
                </div>
                <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="160">社会信用代码（纳税人识别号）
                </div>
                <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="160">纳税人名称</div>
                <div field="sqsj" headeralign="center" align="center" allowsort="false" width="100"
                    dateFormat="yyyy-MM-dd">收到日期</div>
                <div field="blqx" headeralign="center" align="center" allowsort="false" width="100"
                    dateFormat="yyyy-MM-dd">办理期限</div>
                <div field="rwztmc" headeralign="center" align="center" allowsort="false" width="100">受理状态</div>
                <div field="action" renderer="onActionRenderer" headeralign="center" align="center" allowsort="false"
                    width="160">操作</div>
            </div>
        </div>
    </div>
</body>
<script src="../../../lib/jquery/jquery.js"></script>
<script src="../../scripts/miniui.js"></script>
<script src="../../scripts/efg_water.js"></script>
<script src="../../scripts/gldcommon.js"></script>
<script src="./cxtj.js"></script>

</html>