<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>查看详情</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="cxtj_sxgz.css">
</head>
<body style="background:#fff;" oncontextmenu="return false">

  <div class="editform">
   <div class="width970 infodiv" style="margin-top: -10px;padding-top: 0">
                <h3>受理信息</h3>
                <table id="nsrjbxx" width="100%"  border="0" cellspacing="0" cellpadding="0" class="infotab"
                       style="line-height: 30px;height: auto; width: 100%;  border-collapse:collapse;">
                    <tr >
                        <th class="th-r" >受理税务机关:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td class="td-r" ><span id="slswjg"></span></td>
                        <th class="th-r" >受理人:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td class="td-r" ><span id="slr"></span></td>
                    </tr>
                     <tr >   
                        <th class="th-r" >受理结果:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td class="td-r"  ><span id="sljg"></span></td>
                        <th class="th-r" >受理日期:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td class="td-r" ><span id="slrq"></span></td>
                    </tr>
                    <tr style="margin-top:  20px ">   
                        <td colspan="4" style="margin: 3px auto; text-align: center;"><a  id="download" class="mini-button gray font14 pngbg">查看税务事项通知书</a></td>
                    </tr>    
                </table>
            <br>
            
        </div>
    </div>

  

<script src="../../../lib/jquery/jquery.js"></script>
<script src="../../scripts/miniui.js"></script>
<script src="../../scripts/gldcommon.js"></script>
<script src="../dbsx/sqzlView.js"></script>
</body>

</html>
