.searchC {
  cursor: pointer;
}
#qymdFrom .qymdTable {
  width: 96%;
  margin: 0 auto;
}
#qymdFrom .qymdTable tr {
  height: 40px;
}
.searchdiv th {
  text-align: right;
}
.searchC {
  cursor: pointer;
}
.mini-datagrid th {
  font-size: 12px !important;
}
.mini-datagrid td {
  font-size: 12px !important;
}
.link-ywl {
  display: block;
  width: 100%;
}
