<section>
    <div id="djxxbl-yl">
        <div data-view-type="datagrid">
            <div class="mini-datagrid" id="yl" style="width:1160px;height: 500px;" allowResize="false"
                 enabled="false"
                 showPager="false" autoLoad="false" multiSelect="true" allowSortColumn="false"
                 checkSelectionOnly="true" showEmptyText="true" emptyText="该事项暂无附报资料" allowCellSelect="true" allowCellEdit="false">
                <div property="columns">
                    <div field="bgxmMc">变更项目</div>
                    <div field="bgqz">变更前</div>
                    <div field="bghz">变更后</div>
                </div>
            </div>
        </div>
    </div>
</section>