<h2></h2>
<div title="跨区迁移业务税务事项报告">
    <h2 style="text-align: center">跨区迁移业务税务事项报告</h2>
    <table class="Yltable table_bg form-table" cellspacing="0" border="1" style="width: 100%;">
        <tr>
            <th style="width:200px;">纳税人识别号：</th>
            <td width="35%" style="width:250px;">
                <input name="nsrsbh" id="nsrsbh" class="mini-textbox" width="100%" readonly/>
            </td>
            <th style="width:200px;">纳税人名称：</th>
            <td style="width:250px;">
                <input name="nsrmc" id="nsrmc" class="mini-textbox" width="100%" readonly/>
            </td>
        </tr>
        <tr>
            <th style="width:200px;">办税人员：</th>
            <td style="width:250px;">
                <input name="bsry" id="bsry" class="mini-textbox" width="100%" readonly/>
            </td>
            <th style="width:200px;">证件号码：</th>
            <td style="width:250px;">
                <input name="zjhm" id="zjhm" class="mini-textbox" width="100%"  readonly/>
            </td>
        </tr>
        <tr>
            <th style="width:200px;">联系人电话：</th>
            <td style="width:250px;">
                <input name="lxrdh" id="lxrdh" class="mini-textbox" width="100%" readonly/>
            </td>
            <th style="width:200px;">出口退税类型：</th>
            <td style="width:250px;">
                <input name="cktslx" id="cktslx" class="mini-textbox" width="100%"  readonly/>
            </td>
        </tr>
        <tr>
            <th style="width:200px;" rowspan="2">经营地址变更情况：</th>
            <th style="width:200px;">迁出地地址：</th>
            <td style="width:250px;">
                <input name="qcddz" id="bgqXzqh" class="mini-textbox" width="100%" readonly/>
            </td>
            <td style="width:250px;" colspan="2">
                <input name="qcddz" id="qcddz" class="mini-textbox qcddz" width="100%" readonly/>
            </td>
        </tr>
        <tr>
            <th style="width:200px;" rowspan="2">迁入地地址：</th>
            <td style="width:250px;">
                <input name="qcddz" id="bghXzqh" class="mini-textbox" width="100%" readonly/>
            </td>
            <td style="width:250px;" colspan="2">
                <input name="qrddz" id="qrddz" class="mini-textbox qrddz" width="100%" readonly/>
            </td>
        </tr>
    </table>

    <table class="Yltable table_bg form-table" id="jkjgTable" style="width: 100%;margin-top: 50px;display: none" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td class="longTd">
                迁入地主管税务机关
            </td>
            <td  colspan="2" width="30%">
                <input id="zgswjgDm" name="zgswjgDm" class="mini-combobox" vtype="required" required="true" requiredErrorText="迁入的主管税务机关不能为空！"
                       onvaluechanged="kqqyObj.zgswjgDmChanged" textField="MC" valueField="ID" width="100%"/></td>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                企业是否存在以下情形
            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
        <tr>
            <td class="longTd description">

            </td>
            <td class="jkjg">

            </td>
        </tr>
        <tr>
            <td colspan="2" class="tips">

            </td>
        </tr>
    </table>
</div>
<link rel="stylesheet" href="../sqgl/kqqyqyswsxbg/kqqyqyswsxbg.css">
