<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上申领发票操作流程</title>
    <style>
        .main {
            width: 70%;
            margin-left: 15%;
        }

        img {
            max-width: 900px;
            display: block;
        }

        .step {
            font-size: 18px;
            font-weight: bold;
            display: block;
        }

        .header {
            text-align: center;
        }

        .contain, .footer {
            line-height: 35px;
        }

        .footer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="header">
        <h2>网上申领发票，操作流程</h2>
    </div>

    <div class="contain">
        <div class="step1">
            <span class="step">第一步:</span>
            【发票领用】输入纳税人识别号 选择发票电子信息领取方式为 <strong>“网上领票”</strong>
            <img src="../../../images/fp_slfplc/step1_1.png">
            <br>
            <img src="../../../images/fp_slfplc/step1_2.png" alt="">
            <br>
        </div>
        <div class="step2">
            <span class="step">第二步:</span>
            发票领用行输入纳税人领用的信息，点击右上方保存
            <br>
            <img src="../../../images/fp_slfplc/step2_1.png" alt="">
            <br>
            <img src="../../../images/fp_slfplc/step2_2.png" alt="">
            <br>
        </div>
        <div class="step3">
            <span class="step">第三步:</span>
            保存成功后，点击上方【写IC卡（防伪税控系统）】按钮，提示写卡成功,<span
                style="display: inline-block;border-bottom: 1px solid #000;line-height: 20px"><strong>完成金税三期系统中的发票领用</strong></span>。
            <br>
            <img src="../../../images/fp_slfplc/step3_1.png" alt="">
        </div>
    </div>

    <div class="footer">
        <div class="note">
            <span style="font-size: 20px;font-weight: bold;display: block;">备注：</span>
            若<strong>【发票电子信息领取方式】</strong>不能选择
            <br>
            <img src="../../../images/fp_slfplc/note1.png" alt="">
            <br>
            <strong>
                <div>请先将纳税人进行归类操作如下：</div>
                <div>进入路径：【管理服务】-【税务机关内部管理】-【登记户归类管理】</div>
            </strong>
            如图选择00000000028增值税发票系统升级版纳税人，双击进入图4
            <img src="../../../images/fp_slfplc/note2.png">
            <div style="text-align: center">图3</div>
            选择主管税务机关“主管税务科（所、分局）”输入“纳税人识别号”点击【查询】---勾选所要归类信息，点击【页面归类】即可
            <img src="../../../images/fp_slfplc/note3.png" alt="">
            <div style="text-align: center">图4</div>
        </div>
    </div>
</div>
</body>
</html>