<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="逾期管户清册">
    <meta name="keywords" content="ghqc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>逾期管户清册</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="ghqccx.css">
</head>
<body>

<div class="content">
    <div class="content-title">逾期管户清册</div>
</div>
<div class="ml20 back-btn-box">
    <a id="back" class="back-btn" onclick= "history.back()" style="width:160px; margin:10px; text-align:center; padding: 5px;">返回上级</a>
</div>
<div>
    <div class="mini-datagrid" id="ghqc_ksld_grid" showpager="false" multiSelect="true"
         style="width: 100%; height:auto;" sizeList="[30,50,100]" pageSize="30">
        <div property="columns">
            <div field="ssglyDm" headeralign="center" align="center" renderer="ghqc.swjgRender">人员</div>
            <div field="yqsbhs" headeralign="center" align="center">逾期申报纳税人数</div>
            <div field="ysbhs" headeralign="center" align="center">应申报纳税人总数</div>
            <div field="sbl" headeralign="center" align="center" renderer="ghqc.ysbblRender">逾期申报比例</div>
        </div>
    </div>
</div>

<script src="../../../lib/jquery/jquery.js"></script>
<script src="../../scripts/miniui.js"></script>
<script src="../../scripts/gldcommon.js"></script>
<script src="yqghqcKsld.js"></script>
</body>
</html>