<div>
    <div id="fbzl-grid" class="mini-datagrid" style="width:100%;" allowResize="false" enabled="true" showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false" idField="id" checkSelectionOnly="true" allowCellSelect="true"
        allowCellEdit="true" showEmptyText="true" emptyText="该事项暂无附报资料" >
        <div property="columns">
            <div type="indexcolumn" width="50">序号</div>
            <div field="fbzlMc" class="xxxxx" width="300">资料名称</div>
            <div field="scCount" width="50">上传数量</div>
            <div field="bslxDm" renderer="onRenderApply" width="50">要求</div>
            <!-- <div field="status" renderer="onRenderStatus">状态</div> -->
            <div field="status" renderer="ylonRenderOpearte" width="200" align="center">操作</div>
        </div>
    </div>
</div>

