<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>税务机关</title>
		<link href="../../../apps/styles/style.css" rel="stylesheet" />
    	<script src="../../../lib/jquery/jquery.js"></script>
    	<script src="../../scripts/miniui.js"></script>
    	<script type="text/javascript" src="tree.js" ></script>
	</head>
	<body>
		<div class="mini-fit">
           <ul id="treeID" class="mini-tree" showTreeIcon="true" textField="text" idField="id" style="height: 100%;"></ul>
       </div>
</html>
