
        <h3>领票人信息</h3>
        <div data-view-type="datagrid">
          <div id="showGprList" class="mini-datagrid" style="width:100%;" allowResize="false" enabled="true" showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false" idField="id" checkSelectionOnly="true" allowCellSelect="true" allowCellEdit="true">
            <div property="columns">
              <div field="loginname" class="xxxxx">领票人姓名</div>
              <div field="sfzhm">身份证号</div>
              <div field="phone_num">手机号</div>
              <div field="position_name">角色（职位）</div>
            </div>
          </div>
        </div>
        <h3>纳税人领用发票票种核定表</h3>
        <div data-view-type="datagrid">
          <div id="showLpContent" class="mini-datagrid" style="width:100%;" allowResize="false" enabled="true" showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false" idField="id" checkSelectionOnly="true" allowCellSelect="true" allowCellEdit="true">
            <div property="columns">
              <div field="fpzlmc" class="xxxxx">发票种类名称</div>
              <div field="topCount">最高持票份数</div>
              <div field="cpzgsl">本次领购份数</div>
              <div field="fpme">面额</div>
            </div>
          </div>
        </div>
    <script src="../sqgl/pzhd/pzhd.js" type="text/javascript"></script>
