
    <!--卖方 -->
    <strong>卖方：销货单位（收款方基本信息）</strong>
    <div class="xh-info yl-input " id="xh-info" data-view-type="form" >
        <table cellpadding="0" cellspacing="0" border="0" width="100%" data-view-type="form" id="ylxh-form">
            <tr>
                <td class="item-label" width="20%">纳税人识别号：</td>
                <td width="33%">
                    <input readonly="true" class="mini-textbox" name="xhfnsrsbh" id="nsrsbh" width="70%" >
                </td>
                <td class="item-label" width="14%">纳税人名称：</td>
                <td width="33%">
                    <input readonly="true" class="mini-textbox" name="xhfnsrmc"  width="70%" value="纳税人名称">
                </td>
            </tr>
            <tr>
                <td class="item-label">身份证件类型：</td>
                <td>
                    <input class="mini-textbox" name="sfzjlx" width="70%" readonly="true" value="身份证">
                </td>
                <td class="item-label">身份证件号码：</td>
                <td>
                    <input  class="mini-textbox" name="xhfsfzjhm" readonly="true" width="70%" >
                </td>
            </tr>
            <tr>
                <td class="item-label">行业：</td>
                <td>
                    <input  class="mini-textbox" name="hyDmText" readOnly="true" width="70%" >
                </td>
                <td class="item-label">征收品目：</td>
                <td>
                    <input  class="mini-textbox" name="zspmDmText" readOnly="true"  width="70%">
                </td>
            </tr>
            <tr>
                <td class="item-label">所属乡镇街道：</td>
                <td>
                    <input readonly="true" class="mini-treeselect" name="ssxzjd" width="70%"
                           valueField="ID" parentField="PID" textField="MC"
                    >
                </td>
                <td class="item-label">主管税务所（科、分局）：</td>
                <td>
                    <input readonly="true" class="mini-treeselect" name="zgsws" id="yl-zgswjg"
                            valueField="ID" parentField="PID" textField="MC" width="70%" >
                </td>
            </tr>
            <tr>
                <td class="item-label">行政区划（所辖县（市、区））：</td>
                <td >
                    <input readonly="true" class="mini-treeselect"  name="xzqhszDm" valueField="ID" parentField="PID" textField="MC"  width="70%">
                </td>
                <td class="item-label">地址：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="xhfdz" width="70%" maxLength="40">
                </td>
            </tr>
            <tr>
                <td class="item-label">开户银行类别：</td>
                <td>
                   <input  class="mini-textbox" name="xhfkhyhDmText" readOnly="true" width="70%">
                </td>
                <td class="item-label">银行营业网点名称：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="xhfyhyywdmc"  width="70%" >
                </td>
            </tr>
            <tr>
                <td class="item-label">银行账号：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="xhfyhzh" width="70%">
                </td>
                <td class="item-label">代开发票类型：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="dkfplx" width="70%" value="依法不需要办理税务登记证的纳税人" >
                </td>
            </tr>
            <tr>
                <td class="item-label">经办人：</td>
                <td >
                    <input readonly="true" class="mini-textbox" name="jbr" width="70%" >
                </td>
                <td class="item-label">经办人联系电话：</td>
                <td>
                    <input readonly="true"  class="mini-textbox" name="xhflxdh" width="70%">
                </td>
            </tr>
        </table>
    </div>
    <!--买方-->
    <strong class="gh-strong">买方：购货单位（付款方基本信息）</strong>
    <div class="gh-info yl-input" id="gh-info" data-view-type="form">
        <table  id="ylfkf-form" data-view-type="form" cellpadding="0" cellspacing="0" width="100%" border="0" data-view-type="form" >
            <tr>
                <td class="item-label" width="20%">付款方纳税人识别号：</td>
                <td width="33%">
                    <input readonly="true" class="mini-hidden" name="ghfdjxh">
                    <input readonly="true" class="mini-textbox"  name="ghfNsrsbh" width="70%" maxLength="20">
                </td>
                <td class="item-label" width="14%">付款方名称：</td>
                <td width="33%">
                    <input readonly="true" class="mini-textbox" name="ghfNsrmc" width="70%">
                </td>
            </tr>
            <tr>
                <td class="item-label">付款方地址：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="ghfDz" width="70%"  maxLength="200">
                </td>
                <td class="item-label">付款方开户银行类别：</td>
                <td>
                    <input  class="mini-textbox" name="_ghfYhhbDmText" readonly="true" width="70%">
                </td>
            </tr>
            <tr>
                <td class="item-label">付款方银行营业网点名称：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="ghfYhyywdMc"  width="70%">
                </td>
                <td class="item-label">付款方银行账号：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="ghfYhkhzh" width="70%">
                </td>
            </tr>
            <tr>
                <td class="item-label">联系电话：</td>
                <td>
                    <input readonly="true" class="mini-textbox" name="ghfLxdh" readonly="true" width="70%">
                </td>
            </tr>
        </table>
    </div>
    <!--  劳务货物信息-->
    <strong class="gh-strong">劳务货物信息</strong>
    <div data-view-type='datagrid'>
        <div id="lwhwYl-grid" class="mini-datagrid" style="width:100%" allowResize="false"
             enabled="true" showPager="false" showEmptyText="true"  multiSelect="true" allowSortColumn="false" idField="id" allowCellSelect="true" allowCellEdit="false"
             >
            <div property="columns">
                <div type="checkcolumn" width="50">选择</div>
                <div field="hwlwmc">货物或劳务名称
                </div>
                <div field="ggxh" class="xxxxx">规格
                </div>
                <div field="dwslDm">单位
                </div>
                <div field="hlsl">数量
               </div>
                <div field="hldj">单价（元）
                </div>
                <div field="je">金额（不含税）
                </div>
                <div field="slv">税率
               </div>
                <div field="se">税额
               </div>
                <div field="jylb">经营类别
                </div>
            </div>
        </div>
    </div>
    <div class="bottom" id="ylHj" data-view-type="form" >
        <table class="form-table table_bg table-bg-green">
            <tr>
                <th>金额合计（不含税）：</th>
                <td  width="10%" class="htzje"><input readonly="true" class="mini-textbox"  id="yl-jehj" name="jehj"></td>
                <th>税额合计：</th>
                <td><input class="mini-textbox" width="68%" name="sehj" id="yl-sehj" readonly="true">
                </td>
            </tr>
            <tr>
                <th>价税合计（金额+税额）：</th>
                <td class="jshj-text" colspan="3"><input class="mini-textbox" name="jshj" id="yl-jshj" width="82%"  readonly="true"></td>
            </tr>
        </table>
      <!--  <p>金额合计（不含税）：<input class="mini-textbox" name='jehj'  readonly="true">

             税额合计：<input class="mini-textbox" name="sehj"  readonly="true"></p>
        <p>
            价税合计（金额+税额）： <input class="mini-textbox" name="jshj"  readonly="true">
        </p>-->
    </div>

<!--
金额合计：
    <strong class="jehj" id="jehj"></strong>
税额合计：
    <strong class="sehj" id="sehj"></strong>
价税合计：
   <strong class="jshj" id="jshj"></strong>
-->