#enterprise_info_form .btn-set {
    text-align: right;
}

#enterprise_info_form .disabled-field > span {
    margin-right: 10px;
}

#enterprise_info_form .disabled-field > span:last-of-type {
    margin-right: 0;
}