<head>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="./common.css">
</head>
<body class="full-center">
    <form id="addtion_form">
        <table style="margin-bottom: 24px;">
            <tbody>
                <tr>
                    <td>
                        <span class="field-required">项目名称<span>*</span>：</span>
                    </td>
                    <td>
                        <input id="project_name" name="project_name" class="mini-textbox" style="width:150px;"
                            vtype="required;maxLength:100;" maxLengthErrorText="项目名称输入过长，请重新输入"
                            requiredErrorText="项目名称不能为空"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="field-required">联系人<span>*</span>：</span>
                    </td>
                    <td>
                        <input id="contact_person" name="contact_person" class="mini-textbox" style="width:150px;"
                            vtype="required;maxLength:50;" maxLengthErrorText="联系人输入过长，请重新输入"
                            requiredErrorText="联系人不能为空"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="field-required">联系方式<span>*</span>：</span>
                    </td>
                    <td>
                        <input id="contact_method" name="contact_method" class="mini-textbox" style="width:150px;"
                            vtype="required;maxLength:50;" maxLengthErrorText="联系方式输入过长，请重新输入"
                            requiredErrorText="联系方式不能为空"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="field-required">企业重组类型<span>*</span>：</span>
                    </td>
                    <td>
                        <input id="qyczlx" name="qyczlx" class="mini-combobox" style="width:150px;" textField="text" valueField="id"
                            data="qycztsxswcl_add.qyczlx_list" required requiredErrorText="企业重组类型不能为空"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="txt-c">
            <button class="mini-button" onclick="qycztsxswcl_add.submitForm">保存</button>
        </div>
    </form>
    
    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../scripts/miniui.js"></script>
    <script src="./qycztsxswcl_add.js"></script>
</body>