<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>图片预览</title>
    <link rel="stylesheet" href="fbzlck.css">
    <link rel="stylesheet" href="../../../lib/imageviewer/dist/viewer.min.css">
</head>
<body>
    <div class="container" id="fbzlyl-grid">
       <!--  <div class="image-box images">
            <img class="" src="test.jpg" alt="Picture">
        </div> -->
    </div>
    <script src="../../../lib/jquery/jquery.min.js"></script>
    <script src="../../../lib/sui-miniui/mini-all-min.js"></script>
    <script src="../../../lib/imageviewer/dist/viewer.min.js"></script>
    <script src="fbzlck.js"></script>
</body>
</html>