<!--<h2>预览提交</h2>
<section>
    <div class="wcjykjYl zxswdj-from" id="step_yl_form" data-view-type="form">
        <div id="tabs1" class="mini-tabs tab-content" activeIndex="0" style="width:100%;height: auto;">
            <div title="消费税税收减免备案">-->
                <!--内容1开始-->
            <div class="wcjykjYl zxswdj-from" id="step_yl_form" data-view-type="form">
                <table class="zxswdj-table" id="previewTable" cellpadding="0" cellspacing="0" width='100%' style="    border-collapse: collapse;">
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">纳税人识别号</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="nsrsbh">
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">纳税人名称</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input height="60px" class="mini-textarea" width="100%" readOnly='true' name="nsrmc">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">注销原因</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" id="szxyy" nullItemText="" name="zxyy" readOnly='true'/>
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;"></td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;"></td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">注销原因说明</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" colspan="3" class="item-control">
                            <input class="mini-textarea" width="100%" readOnly='true' name="zxyysm" emptyText=''>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">经办人</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="jbr" emptyText=''>
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">批准机关名称</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="pzjgmc" emptyText=''>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">批准日期</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-datepicker" name="pzrq" emptyText="" readOnly='true'>
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">批准文号</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="pzwh" emptyText="">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">迁达地生产经营地址行政区划</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" id="sxzqh" readOnly='true' name="xzqh" nullItemText="">
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">迁达地主管税务机关</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textarea" height="60px" width="100%" id="sswjg" readOnly='true' name="swjg" nullItemText="">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">变动后住所、经营地点地址</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" colspan="3" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="dz" emptyText="">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">合并类型</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" id="shblx" readOnly='true' name="hblx" nullItemText="">
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">是否被吸收方</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" id="ssfbxsf" readOnly='true' name="sfbxsf" nullItemText="">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="blod" colspan="4">合并新纳税人信息</td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">新纳税人识别号</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="xnsrsbh" emptyText="">
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">新纳税人名称</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textarea" height="60px" width="100%" readOnly='true' name="xnsrmc" emptyText="">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="pr">新纳税人主管税务机关</td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;" class="item-control">
                            <input class="mini-textbox" readOnly='true' name="xnsrzgswjg" emptyText="">
                        </td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;"></td>
                        <td style="padding: 4px 10px;border: 1px solid #dcdcdc;"></td>
                    </tr>
                </table>
                <div style="display: none">
                    <div class="grid-toolbar" data-bind-grid="sjsqzjqkDataView">
                        <div class="grid-title">收缴税务证件情况</div>
                    </div>
                    <div id="sjsqzjqkDataView" class="mini-datagrid" allowResize="false" showEmptyText="true" autoLoad="false" allowCellSelect="true" allowCellEdit="false"
                         idField="id" allowSortColumn='false' enabled="true" showPager="false" multiSelect="true" checkSelectionOnly="true">
                        <div property="columns">
                            <div field="hbszDmText" headerAlign="center" allowSort="true">收缴税务证件种类</div>
                            <div field="swzlhm" headerAlign="center" allowSort="true">收缴税务证件号码</div>
                            <div field="swzlsl" headerAlign="center" allowSort="true">收缴税务证件数量</div>
                        </div>
                    </div>
                    <div class="grid-toolbar" data-bind-grid="sjqtswzlqkDataView">
                        <div class="grid-title">收缴其他税务资料情况</div>
                    </div>
                    <div id="sjqtswzlqkDataView" class="mini-datagrid" allowResize="false" showEmptyText="true" autoLoad="false" allowCellSelect="true" allowCellEdit="false"
                         idField="id" allowSortColumn='false' enabled="true" showPager="false" multiSelect="true" checkSelectionOnly="true">
                        <div property="columns">
                            <div field="swzlzl" headerAlign="center" allowSort="true">收缴其他税务资料种类</div>
                            <div field="swzlsl" headerAlign="center" allowSort="true">收缴其他税务资料数量</div>
                        </div>
                    </div>
                </div>

            </div>
            <!--</div>
            <div title="附报资料">
                <div data-view-type="datagrid">
                    <div id="fbzl-yl-grid" class="mini-datagrid" style="width:1160px;height:260px;" allowResize="true" enabled="true" showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false" idField="id" checkSelectionOnly="true" allowCellSelect="true"
                         allowCellEdit="true" showEmptyText="true" emptyText="该事项暂无附报资料" >
                        <div property="columns">
                            <div type="indexcolumn" width="50">序号</div>
                            <div field="fbzlMc" class="xxxxx">资料名称</div>
                            <div field="scCount">上传数量</div>
                            <div field="bslxDm" renderer="onRenderApply">要求</div>
                            <div field="status" renderer="ylonRenderOpearte" align="center">操作</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->