<style>
    .top,
    .bottom,
    .gridDiv {
        width: 86%;
        margin: 0 auto;
    }
</style>
<section>
    <div class="top">
        <h2 style="text-align: center;">境外旅客购物离境退税商店申请</h2>
        <p style="text-align: right;">备案时间：<span id='basj'></span></p>
    </div>
    <div id="sqbtxForm" data-view-type="form">
        <table style="margin:0 auto;width: 100%;">
            <tbody>
                <tr>
                    <th width="15%" align="right">企业名称：</th>
                    <td width="35%"><input name="nsrmc" id="nsrmc" class="mini-textbox" width="80%" readonly />
                    </td>
                    <th width=" 15%" align="right">纳税人识别号：</th>
                    <td width="35%"><input name="nsrsbh" id="nsrsbh" class="mini-textbox" width="80%" readonly />
                    </td>
                </tr>
                <tr>
                    <th align="right">经营地址：</th>
                    <td><input name="scjydz" id="scjydz" class="mini-textbox" width="80%" readonly /></td>
                    <th align="right">登记注册类型：</th>
                    <td><input name="djzclxmc" id="djzclxmc" class="mini-textbox" width="80%" readonly />
                    </td>
                </tr>
                <tr>
                    <th align="right">实际经营地址：</th>
                    <td><input name="sjjydz" id='sjjydz' class="mini-textbox" width="80%" readonly />
                    </td>
                    <th align="right">纳税信用等级：</th>
                    <td><input name="nsxydj" id="nsxydj" class="mini-textbox" width="80%" readonly />
                    </td>
                </tr>
                <tr>
                    <th align="right">税控设备号：</th>
                    <td><input name="sksbh" id="sksbh" class="mini-textbox" width="80%" readonly />
                    </td>
                    <th align="right">税控设备服务商：</th>
                    <td>
                        <input name="sksbfws" id="sksbfws" class="mini-textbox" width="80%" readonly />
                    </td>
                </tr>
                <tr>
                    <th align="right">联系人：</th>
                    <td>
                        <input name="jbrmc" id="jbrmc" class="mini-textbox" width="80%" readonly />
                    <th align="right">联系电话：</th>
                    <td>
                        <input name="jbrsj" id="jbrsj" class="mini-textbox" width="80%" readonly />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="gridDiv">
        <h4>分支机构信息</h4>
        <div data-view-type="datagrid">
            <div id="fzjgxxs" class="mini-datagrid" style="width:100%;min-height: 100px;height:auto;"
                allowResize="false" showPager="false" enabled="false" showEmptyText="true" emptyText="暂无数据"
                fitColumns="true" multiSelect="false">
                <div property="columns">
                    <div field="fzjghfdnsrsbh" headerAlign="center" align="center">分支机构社会信用代码（纳税人识别号）</div>
                    <div field="fzjghfdmc" headerAlign="center" align="center">分支机构名称</div>
                    <div field="fzjghfddz" headerAlign="center" align="center">分支机构注册地址</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p style="text-indent:2em;">
            我公司同意安装、使用离境退税管理系统，并保证系统应当具备的运行条件，能后及时、准确地向主管税务机关报送相关信息。同意单独设置退税物品销售明细账，并准确核算。具备《境外旅客购物离境退税管理办法（试行）》规定的退税商店条件，并承诺遵守《境外旅客购物离境退税管理办法（试行）》有关规定。
        </p>
        <div>
            <span style="margin-right: 80px;">承诺人：<span id="fddbrxm"></span></span>
            <span>公司章</span>
        </div>
    </div>
</section>