
<section>
    <div class="wcjykjYl" data-view-type="form" id="step_yl_form">
        <table width="80%" class="form-table">
          <tr>
            <td class="txt-r">税（费）种：</td>
            <td class="search-item-control" colspan="2">
              <input  name="sfz" style="width:80%;" readonly value="增值税" class="mini-textbox"/>
            </td>
          </tr>
          <tr>
            <td class="txt-r">减免项目：</td>
            <td class="search-item-control" colspan="2">
              <input  name="ssyhsxText" style="width:80%" class="mini-textbox" readonly/>
            </td>
          </tr>
          <tr>
            <td class="txt-r">减免税政策依据：</td>
            <td class="search-item-control" colspan="2">
              <input  name="ssjmxzText" style="width:80%;" class="mini-textbox" readonly />
            </td>
          </tr>
          <tr>
            <td class="txt-r">减免期限起：</td>
            <td class="search-item-control" colspan="2">
              <input  name="jmqxq" style="width:80%;" class="mini-datepicker" readonly format="yyyy-MM-dd" />
            </td>
          </tr>
          <tr>
            <td class="txt-r">减免期限止：</td>
            <td class="search-item-control" colspan="2">
              <input  name="jmqxz" style="width:80%;" class="mini-datepicker" readonly format="yyyy-MM-dd"/>
            </td>
          </tr>
        </table>
    </div>
  <!--<div class="wcjykjYl" id="step_yl_form" data-view-type="form">
      <div title="消费税税收减免备案">
        <h5>减免税备案登记表</h5>
        <div data-view-type="datagrid">
          <div id="jms1_grid" class="mini-datagrid" style="width:1150px;height:200px;" allowResize="false"
               showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false"
               idField="id" >
            <div property="columns">
              <div field="sfz" vtype="required" align="center" headeralign="center">
                税（费）种
              </div>
              <div field="ssyhsxmc" vtype="required"  >
                减免项目
              </div>
              <div field="ssjmxzmc" vtype="required" >
                减免税政策依据
              </div>
              <div field="jmqxq" vtype="required">
                减免期限起
              </div>
              <div field="jmqxz" vtype="required">
                减免期限止
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>-->
</section>
