<span>该新办纳税人的综合套餐如下，请受理审核！</span><br><br>
<div class="zhxbtcwc-bottom" style="font-size: 12px; border: 1px solid #f9d08f; border-radius: 2px; background: #fff9eb; color: #666; padding: 10px 18px;">
    <div><img src="../../images/public/icon-notice.png" alt="提示">温馨提示：</div>
    <div id="wxts">
        1.登记信息确认受理成功后，才能受理其他涉税业务；2.请在核心征管前台进行"税（费）种认定"；3.请分别受理每个事项后，再“办结”新办纳税人综合套餐申请业务<br>
    </div>
</div>
<br>

<div data-view-type="datagrid">
    <div id="xbtc-grid" class="mini-datagrid" style="width:100%; height: auto" allowResize="false"
         enabled="true" showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false"
         idField="id" checkSelectionOnly="true" allowCellSelect="true" allowCellEdit="false">
        <div property="columns">
            <div type="indexcolumn" width="50">序号</div>
            <div field="swsxMc">业务事项</div>
            <div field="shlx" align="center" renderer="onShlxRenderer">审核类型</div>
            <div field="blztMc" align="center" renderer="onBlztRenderer">办理状态</div>
            <div align="center" renderer="onActionRenderer">操作</div>
        </div>
    </div>
</div>

<div  id="ylViews" style="display: none">

</div>

<script type="text/html" id="xbtc-yl-template">
    <div id="xbtc-yl-win" title="查看详情" class="mini-window" style="width:100%"></div>
</script>




