<div style="width:1100px;background: #fff; ">
    <div style=" margin: 0 auto;padding:20px 20px 0;line-height: 30px;">
        <div style="text-align: center; font-size: 20px;">税（费）种认定推荐受理</div>
        <div style="font-size: 18px;">基本信息</div>
        <div style="font-size: 18px;"><div style="width: 49%;padding-left: 5em;float: left;box-sizing: border-box;">社会信用代码：<span id="shxydm"></span></div><div style="width: 49%;overflow: hidden;">纳税人名称：<span class="nsrmc"></span></div></div>
        <div style="font-size: 18px;color: red;">提示：请在核心征管系统中对当前纳税人的税（费）种信息进行录入操作。</div>
        <div style="font-size: 18px;">系统根据纳税人的基本信息，推荐税（费）种认定信息如下，供参考：</div>
    </div>
    <div id="sfz_grid" class="mini-datagrid" style="width:1100px;" allowResize="false" allowResizeColumn="false" allowMoveColumn="false"
         showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false">
        <div property="columns">
            <div type="indexcolumn" width="50">序号</div>
            <div field="zfsbz" align="center" width="120">主附税标志</div>
            <div field="zsdlfsMc" align="center" width="150">征收代理方式</div>
            <div field="hyMc" align="center" width="150">行业</div>
            <div field="swjgMc" align="center" width="200">所属税务机关</div>
            <div field="zsxmMc" align="center" width="150">征收项目</div>
            <div field="rdyxqq" align="center" width="150">认定有效期起</div>
            <div field="rdyxqz" align="center" width="150">认定有效期止</div>
            <div field="nsqxMc" align="center" width="120">纳税期限</div>
            <div field="zspmMc" align="center" width="150">征收品目</div>
            <div field="zyzspm" align="center" width="150">是否主营征收品目</div>
            <div field="zszmMc" align="center" width="150">征收子目</div>
            <div field="sl" align="center" width="150">税率或单位税额</div>
            <div field="zsl" align="center" width="120">征收率</div>
            <div field="sbqxMc" align="center" width="120">申报期限</div>
            <div field="jkqxMc" align="center" width="120">缴款期限</div>
            <div field="yskmMc" align="center" width="150">预算科目</div>
            <div field="ysfpblMc" align="center" width="120">预算分配比例</div>
            <div field="skgkMc" align="center" width="200">收款国库</div>
        </div>
    </div>
</div>
