
<div style="width:1030px;margin: 0 auto;">
    <style>
        table {
            width: 100%;
            height: 100%;
            table-layout: fixed;
        }
        table td{ word-wrap:break-word;}
    </style>
    <h3 style="text-align: center;margin-top: 0">新办企业涉税事项申请表</h3>
    <table id="xbqysssssqb" border="1px" bordercolor="black" align="center" cellpadding="10px" cellspacing="0"
           style="border-collapse: collapse;">
        <tbody>
            <tr align="center">
                <td colspan="2">★纳税人名称</td>
                <td colspan="6"><span id="nsrmc"></span></td>
            </tr>
            <tr align="center">
                <td colspan="2">★统一社会信用代码</td>
                <td colspan="6"><span id="nsrsbh"></span></td>
            </tr>
            <tr align="center">
                <td style="border-bottom: none">★账户性质</td>
                <td style="border-bottom: none">★开户登记证号</td>
                <td style="border-bottom: none">★开户银行</td>
                <td colspan="2" style="border-bottom: none">★账号</td>
                <td style="border-bottom: none">★币种</td>
                <td style="border-bottom: none">★缴税账户</td>
                <td style="border-bottom: none">★开户日期</td>
            </tr>
            <tr align="center" style="padding:0;border: none">
                <td style=" border-left: none;"><div id="yhzhxzDmText">&nbsp;</div></td>
                <td><div id="yhkhdjzh">&nbsp;</div></td>
                <td><div id="yhyywdDmText">&nbsp;</div></td>
                <td colspan="2"><div id="yhzh">&nbsp;</div></td>
                <td><div id="bzText">&nbsp;</div></td>
                <td><div id="sxjszhbzText">&nbsp;</div></td>
                <td style="border-right: none"><div id="khrq">&nbsp;</div></td>
            </tr>
            <tr align="center">
                <td colspan="2" style="border-top: none">★财务、会计制度名称</td>
                <td colspan="4" style="border-top: none" id="kjzd-td">
                    <span><input type="checkbox" id="qykjzz">企业会计准则</span>
                    <span><input type="checkbox" id="xqykjzz">小企业会计准则</span>
                    <span><input type="checkbox" id="qtkjzz"><span id="qtkjzz-txt">其他，请列明</span></span>
                </td>
                <td colspan="2" style="border-top: none">财务、会计制度备注</td>
            </tr>
            <tr align="center">
                <td colspan="2">★低值易耗品摊销方法名称</td>
                <td colspan="4" id="txff-td">
                
                </td>
                <td rowspan="7" colspan="2"></td>
            </tr>
            <tr align="center">
                <td colspan="2">★折旧方法（大类）名称</td>
                <td colspan="4" id="zjdl-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">★折旧方法（小类）名称</td>
                <td colspan="4" id="zjxl-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">★成本核算方法名称</td>
                <td colspan="4" id="hdff-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">会计核算软件名称</td>
                <td colspan="4" id="rjmc-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">会计核算软件版本号</td>
                <td colspan="4" id="rjbbh-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">会计核算软件数据库类型</td>
                <td colspan="4" id="sjklx-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" style="text-indent: 13%;border-right:none">★核算方式</td>
                <td style="border-left:none"></td>
                <td colspan="5" id="hsfs-td">
                
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" style="text-align:right;border-right:none">★增值税纳税人类型</td>
                <td style="border-left:none"></td>
                <td colspan="5">
                    <span><input type="checkbox" id="zzsybnsr">增值税一般纳税人</span>
                    <span><input type="checkbox" id="zzsxgmnsr">小规模纳税人</span>
                </td>
            </tr>
            <tr align="center">
                <td colspan="8" style="font-weight:bold">登记为“增值税一般纳税人”资格的，需填写下列信息</td>
            </tr>
            <tr align="center">
                <td colspan="2">主营业务类别</td>
                <td colspan="4">
                    <span><input type="checkbox" id="ybnsr-zyywlb-1">工业</span>
                    <span><input type="checkbox" id="ybnsr-zyywlb-2">商业</span>
                    <span><input type="checkbox" id="ybnsr-zyywlb-3">服务业</span>
                    <span><input type="checkbox" id="ybnsr-zyywlb-9">其他</span>
                </td>
                <td>从业人数</td>
                <td ><span id="cyrs"></span></td>
            </tr>
            <tr align="center">
                <td colspan="2">会计核算健全</td>
                <td id="kjhsjqbz">
                
                </td>
                <td colspan="2">一般纳税人资格生效日期</td>
                <td colspan="3">
                    <span><input type="checkbox" id="ybnsr-sxrq-dy">当月1日</span>
                    <span><input type="checkbox" id="ybnsr-sxrq-cy">次月1日</span>
                </td>
            </tr>
            <tr align="center">
                <td colspan="8" style="font-weight:bold">请选择发票票种、数量信息，只有“增值税一般纳税人”可以申请增值税专用发票</td>
            </tr>
            <tr align="center">
                <td colspan="2" >★购票员（可复选）</td>
                <td colspan="6">
                    <span><input type="checkbox" id="gpr-fddbr">法定代表人</span>
                    <span><input type="checkbox" id="gpr-cwfzr">财务负责人</span>
                    <span><input type="checkbox" id="gpr-bsy">办税员</span>
                </td>
            </tr>
            <tr align="center" id="fptr">
                <td style="border-bottom: none" colspan="2">★发票种类名称</td>
                <td style="border-bottom: none" colspan="2">★每月最高领票数量</td>
                <td style="border-bottom: none" colspan="2">★每次最高领票数量</td>
                <td style="border-bottom: none" colspan="2">定额发票累计领票金额</td>
            </tr>
            <tr align="center" id="fptr-empty">
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr align="center">
                <td colspan="8" style="font-weight:bold ;border-top: none">
                    <p style="margin:5px 0">申请“增值税发票”的纳税人填写下列信息 </p>
                    <p style="margin:5px 0">（申请增值税专用发票最高开票限额“十万元”的，需法定代表人本人前往税务机关现场采集实名信息）</p>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" >增值税专用发票最高开票限额</td>
                <td colspan="6">
                    <span><input type="checkbox" id="zp_4">十万元</span>
                    <span><input type="checkbox" id="zp_5">一万元</span>
                    <span><input type="checkbox" id="zp_6">一千元</span>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" >增值税普通发票最高开票限额</td>
                <td colspan="6">
                    <!-- <span><input type="checkbox" id="pp_1000000">百万元</span> -->
                    <span><input type="checkbox" id="pp_4">十万元</span>
                    <span><input type="checkbox" id="pp_5">一万元</span>
                    <span><input type="checkbox" id="pp_6">一千元</span>
                </td>
            </tr>
            <!-- <tr align="center">
                <td colspan="8" style="font-weight:bold">申请“增值税专用发票”、“增值税普通发票”的纳税人填写下列信息</td>
            </tr>
            <tr align="center">
                <td colspan="2" >税控服务商</td>
                <td colspan="6">
                    <span><input type="checkbox" id="bwjf">上海百旺金赋科技有限公司</span>
                    <span><input type="checkbox" id="htxx">上海爱信诺航天信息有限公司</span>
                    <span><input type="checkbox" id="bwcs">上海百旺财税咨询有限公司</span>
                </td>
            </tr> -->
            <tr align="left">
                <td colspan="8" >
                    <p style="margin:5px 0;text-indent: 5%">纳税人(代理人)承诺：</p>
                    <p style="margin:5px 0; text-indent: 8%">上述各项内容真实、可靠、完整。如有虚假，愿意承担相关法律责任。</p>
                    <p style="margin:8px 0;text-align: right">
                        <span style="margin:0 50px;display: inline-block;">经办人：<span id="jbrmc"></span></span>
                        <span style="margin:0 50px;display: inline-block;">法定代表人：<span id="fddbrxm"></span></span>
                        <span style="margin:0 50px;display: inline-block;">代理人：</span>
                        <span style="margin:0 150px 0 50px;display: inline-block;">（签章）</span>
                    </p>
                    <p style="margin:8px 0;text-align: right">
                        <span style="margin:0 20px;display: inline-block;"><span id="lrsj_n"></span>年</span>
                        <span style="margin:0 20px;display: inline-block;"><span id="lrsj_y"></span>月</span>
                        <span style="margin:0 50px 0 20px;display: inline-block;"><span id="lrsj_r"></span>日</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>