<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>电子税务局</title>
  <meta name="SHZWFW_Online_Services" content="true"/>
  <meta name="keywords" content="react,redux,react-router,webpack,es6,less,ie8,html5,css3">
  <meta name="description" content="react兼容IE8的跨平台框架">
  <meta name="author" content="pdf预览" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telphone=no, email=no" />
  <meta name="renderer" content="webkit" aid="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="msapplication-tap-highlight" content="no">
  <script src="../../../lib/jquery/jquery.js"></script>
  <script src="./pdfobject.js"></script>
</head>
<body>

<div id="app" style="width: 1200px;height: 800px;"></div>
<script >
    function setData(pdfUrl){
        var options = {
            scrollbars: '0',
            toolbar: '0',
            statusbar: '0',
            pagemode:'thumbs',
            view:'FitV',
            navpanes:0
        };
        var pdfObj =  new PDFObject({ url:pdfUrl,pdfOpenParams:options});
        // new PDFObject({url: pdfUrl, pdfOpenParams: options}).embed("app");
        if(!pdfObj.get('pluginTypeFound')){
            var tipsHtml = '<p>您未安装 <a href="https://get.adobe.com/cn/reader/" target="_blank" title="点击下载Adobe">Adobe Reader阅读器</a></p>';
            $('#app').html(tipsHtml);
        }else {
            var success = new PDFObject({url: pdfUrl, pdfOpenParams: options}).embed("app");
        }
    }
</script>
</body>
</html>
