<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>一网通办查询</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="../dbsx/dbsxcx.css">
  <style type="text/css">
    #ywtbcxForm .cxtjTable {
      text-align: center;
      width: 75%;
      margin: 0 auto;
    }

    #ywtbcxForm .cxtjTable th {
      text-align: right;
    }

    #ywtbcxForm .cxtjTable td {
      padding-top: 5px;
    }

    .blfjbox .mini-buttonedit-close {
      display: none !important;
    }

    .blfjbox .mini-buttonedit-icon {
      display: none !important;
    }

    .blfjbox .mini-buttonedit-border {
      padding-right: 0 !important;
    }

    .blfjbox .mini-buttonedit-button {
      cursor: default !important;
    }
  </style>
</head>

<body>
  <div class="search">
    <div class="searchC">查询条件</div>
  </div>
  <div id="ywtbcxForm" class="searchdiv">
    <table width="96%" border="0" cellspacing="0" cellpadding="0" class="cxtjTable" id="ywtbcxTable">
      <tr>
        <th style="width: 15%">办理分局：</th>
        <td style="width: 25%">
          <input id="blfj" name="blfj" class="mini-combobox blfjbox" textfield="MC" valuefield="ID" shownullitem="false"
            style="width:100%;" valueFromSelect="true" allowInput="false" readOnly="true" />
        </td>
        <th style="width: 30%">纳税人识别号（统一社会信用代码）：</th>
        <td style="width: 25%"><input id="nsrsbh" name="nsrsbh" class="mini-textbox" style="width:100%;"
            onvaluechanged="onNsrValidation" /></td>
      </tr>
      <tr>
        <th>纳税人名称：</th>
        <td><input id="nsrmc" name="nsrmc" class="mini-textbox" /></td>
        <th>亮证类型：</th>
        <td><input id="lzlx" name="lzlx" class="mini-combobox" textfield="MC" valuefield="ID" shownullitem="false"
            style="width:100%;" valueFromSelect="true" allowInput="false" />
        </td>
      </tr>
      <tr>
        <th>受理时间起：</th>
        <td><input id="slsjQ" name="slsjQ" class="mini-datepicker" format="yyyy-MM-dd" emptytext=""
            onvaluechanged="slrqqChange" required requiredErrorText="受理时间起不能为空"/></td>
        <th>受理时间止：</th>
        <td><input id="slsjZ" name="slsjZ" class="mini-datepicker" format="yyyy-MM-dd" emptytext=""
            onvaluechanged="slrqzChange" required requiredErrorText="受理时间止不能为空"/></td>
      </tr>
      <tr>
        <th><span style="color: red;">*</span>渠道来源：</th>
        <td><input id="qdid" name="qdid" class="mini-combobox" textfield="MC" valuefield="ID" shownullitem="false"
            data="[{ID:'01',MC:'线上亮证'},{ID:'02',MC:'线下亮证'}]" style="width:100%;" valueFromSelect="true"
            allowInput="false" required requiredErrorText="渠道来源不能为空" /></td>
      </tr>
      <tr>
        <td colspan="4" style="padding:10px; text-align:center;">
          <a id="search" class="mini-button" onclick="doSearch(this)">查询</a>
          <a class="mini-button" onclick="doReset()">重置</a>
      </tr>
    </table>
  </div>

  <div class="mini-fit" id="ywtbcx" style="display:block">
    <div id="ywtbcxGrid" class="mini-datagrid" showPager="true" style="width: 100%; height:100%;" multiSelect="true"
      sizeList="[30,50,100]" pageSize="30">
      <div property="columns">
        <div type="indexcolumn">序号</div>
        <div field="nsrsbh" headeralign="center" align="center" allowsort="false" width="160">纳税人识别号（统一社会信用代码）</div>
        <div field="nsrmc" headeralign="center" align="center" allowsort="false" width="80">纳税人名称</div>
        <div field="blsx" headeralign="center" align="center" allowsort="false" width="160">办理事项</div>
        <div field="lzlx" headeralign="center" align="center" allowsort="false" width="120">亮证类型</div>
        <div field="slry" headeralign="center" align="center" allowsort="false" width="80">受理人员</div>
        <div field="slsj" dateFormat="yyyy-MM-dd HH:mm:ss" headeralign="center" align="center" allowsort="false"
          width="120">受理时间</div>
      </div>
    </div>
  </div>

  <script src="../../../lib/jquery/jquery.js"></script>
  <script src="../../scripts/miniui.js"></script>
  <script src="../../scripts/efg_water.js"></script>
  <script src="../../scripts/gldcommon.js"></script>
  <script src="../../scripts/gldbfslkz.js"></script>
  <script src="../xbnsrcx/baseCode.js"></script>
  <script src="./Validator.js"></script>
  <script src="./ywtbcx.js"></script>
</body>

</html>