<section>
  <div class="wcjykjYl" id="step_yl_form" data-view-type="form">
    <div title="增值税即征即退备案受理">
        <h5 style="font-size: 20px;text-align: center;">增值税即征即退资格备案申请表</h5>
        <table width="80%" class="form-table" style="margin:0 50px;">
            <tr>
                <td class="txt-r" width="330px">税（费）种：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="sfz" style="width:80%;" readonly value="增值税" class="mini-textbox"/>
                </td>
            </tr>
            <tr>
                <td class="txt-r" width="330px">即征即退备案项目：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="jmsspsxDmText" style="width:80%" class="mini-textbox" readonly/>
                </td>
            </tr>
            <tr>
                <td class="txt-r" width="330px">征收品目：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="zspmDmText" style="width:80%;" class="mini-textbox" readonly />
                </td>
            </tr>
            <tr>
                <td class="txt-r" width="330px">经营范围：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="jyfw" style="width:80%;" class="mini-textarea" readonly />
                </td>
            </tr>
            <tr>
                <td class="txt-r" width="330px">有效期起：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="jmqxq" style="width:80%;" class="mini-textbox" readonly  />
                </td>
            </tr>
            <tr>
                <td class="txt-r" width="330px">有效期止：</td>
                <td class="search-item-control" colspan="2" width="480px">
                    <input  name="jmqxz" style="width:80%;" class="mini-textbox" readonly />
                </td>
            </tr>
        </table>
    </div>
  </div>
</section>

