<h2>申请表预览</h2>
    <div id="djxxblxx" data-view-type="form">
        <div id="tabs1" class="mini-tabs" activeIndex="0" style="width:100%;" plain="false">
            <div title="纳税人基本信息">
                <div id="nsrjbxxForm">
                    <table class="form-table" width="100%">
                        <tr>
                            <th width="20%">社会信用代码
                            </th>
                            <td width="30%">
                                <input id="shxydm" name="shxydm" readonly="true" class="mini-textbox" style="width:100%;"/>
                            </td>
                            <th width="20%">纳税人名称</th>
                            <td width="30%">
                                <input id="nsrmc" ReadOnly="true" name="nsrmc" class="mini-textbox" style="width:100%;"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="20%">批准设立机关类型
                            </th>
                            <td width="30%">
                                <input id="pzsljglx" ReadOnly="true" name="pzsljglx" class="mini-textbox"
                                       style="width:100%;"/>
                            </td>
                            <th width="20%">批准设立机关</th>
                            <td width="30%">
                                <input id="pzsljg" ReadOnly="true" name="pzsljgdmText" class="mini-textbox" style="width:100%;"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="20%">组织机构代码
                            </th>
                            <td width="30%">
                                <input id="zzjgdm" ReadOnly="true" name="zzjgdm" class="mini-textbox" style="width:100%;"/>
                            </td>
                            <th width="20%">批准设立证明或文件号</th>
                            <td width="30%">
                                <input id="pzslzmhwjh" name="pzslzmhwjh" ReadOnly="true" class="mini-textbox"
                                       style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">开业（设立）日期
                            </th>
                            <td width="30%">
                                <input id="kyslrq" ReadOnly="true" name="kyslrq" class="mini-datepicker" style="width:100%;"
                                       format="yyyy-MM-dd" showTime="true"/>
                            </td>
                            <th width="20%">生产经营期限起</th>
                            <td width="30%">
                                <input id="scjyqxq" name="scjyqxq" ReadOnly="true" class="mini-datepicker"
                                       style="width:100%;" format="yyyy-MM-dd" showTime="true"/>
                            </td>
                        </tr>
                        <tr>
                            <th width="20%">生产经营期限止
                            </th>
                            <td width="30%">
                                <input id="scjyqxz" ReadOnly="true" name="scjyqxz" class="mini-datepicker"
                                       style="width:100%;" format="yyyy-MM-dd" showTime="true"/>
                            </td>
                            <th width="20%">证照名称</th>
                            <td width="30%">
                                <input id="zzmc" name="zzmcText" ReadOnly="true" class="mini-textbox" style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">证照号码
                            </th>
                            <td width="30%">
                                <input id="zzhm" ReadOnly="true" name="zzhm" class="mini-textbox" style="width:100%;"/>
                            </td>
                            <th width="20%">注册地址</th>
                            <td width="30%">
                                <input id="zcdz" name="zcdz" ReadOnly="true" class="mini-textbox" style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">注册地邮政编码
                            </th>
                            <td width="30%">
                                <input id="zcdyzbm" ReadOnly="true" name="zcdyzbm" class="mini-textbox"
                                       style="width:100%;"/>
                            </td>
                            <th width="20%">注册地联系电话</th>
                            <td width="30%">
                                <input id="zcdlxdh" name="zcdlxdh" ReadOnly="true" class="mini-textbox"
                                       style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">生产经营地址
                            </th>
                            <td width="30%">
                                <input id="scjydz" ReadOnly="true" name="scjydz" class="mini-textbox" style="width:100%;"/>
                            </td>
                            <th width="20%">生产经营地邮政编码</th>
                            <td width="30%">
                                <input id="scjydyzbm" name="scjydyzbm" ReadOnly="true" class="mini-textbox"
                                       style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">生产经营地联系电话
                            </th>
                            <td width="30%">
                                <input id="scjydlxdh" ReadOnly="true" name="scjydlxdh" class="mini-textbox"
                                       style="width:100%;"/>
                            </td>
                            <th width="20%">经营范围</th>
                            <td width="30%">
                                <input id="jyfw" name="jyfw" readonly="true" class="mini-textbox" style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%"><i>*</i>行政区划</th>
                            <td width="30%">
                                <input id="xzqh" name="xzqhText" class="mini-textbox " width="100%"  readonly="true"/>

                            <th width="20%"></th>
                            <td width="30%"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="负责人信息">
                <div id="fzrxxForm">
                    <table class="form-table" style="width:100%">
                        <tr>
                            <th width="20%">法定代表人（负责人）姓名</th>
                            <td width="30%">
                                <input class="mini-textbox"
                                       style="width:100%;" readonly="true" id="fddbrxm" name="fddbrxm"/></td>
                            <th width="20%">法定代表人（负责人）身份证件种类</th>
                            <td width="30%">
                                <input class="mini-textbox" value="10" style="width:100%;" readonly="true" id="fddbrsfzjzl"
                                       name="fddbrsfzjzlText"></td>
                        </tr>
                        <tr>
                            <th>法定代表人（负责人）身份证件号码</th>
                            <td><input class="mini-textbox" id="fddbrsfzjhm" name="fddbrsfzjhm" readonly="true"
                                       style="width:100%;"/></td>
                            <th width="20%">法定代表人移动电话</th>
                            <td width="30%">
                                <input class="mini-textbox" name="fddbryddh" readonly="true" style="width:100%;"/></td>
                        </tr>
                        <tr>
                            <th width="20%">法定代表人固定电话</th>
                            <td width="30%">
                                <input class="mini-textbox" name="fddbrgddh" readonly="true" style="width:100%;"/></td>

                            <th width="20%">国籍</th>
                            <td width="30%">
                                <input name="gjText" class="mini-textbox" readonly="true" style="width:100%;"/>
                            </td>
                            <!-- <th width="20%">住所</th>
                            <td width="30%"><input class="mini-textbox" id="zs" name="zs" readonly="true" style="width:100%;"/></td> -->
                        </tr>
                        <tr>
                            <th width="20%">电子邮箱</th>
                            <td width="30%"><input class="mini-textbox" name="fddbrdzxx" readonly="true" style="width:100%;"/></td>
                            <th width="20%">户籍所在地</th>
                            <td width="30%"><input class="mini-textbox" name="hjszd" readonly="true" style="width:100%;"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="注册资本和投资方信息">
                <div id="tzfxxForm">
                    <table class="form-table">
                        <tr>
                            <th width="4%">注册资本</th>
                            <td width="30%">
                                <input class="mini-textbox"
                                       style="width:100%;" ReadOnly="true" id="zczb" name="zczb"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
