<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>附报资料</title>
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
</head>
<body>


<script src="../../../lib/jquery/jquery.js"></script>
<script src="../../scripts/miniui.js"></script>
<!-- <script src="../../../lib/ds-commonFront/build/common-front.js"></script> -->
<script src="../../../lib/ds-commonFront/apps/scripts/console.js"></script>
<script src="../../scripts/gldcommon.js"></script>
<script src="fpzlPage.js"></script>
<script src="FbzlView.js"></script>
</body>
</html>