<div class="wcjykjYl" id="wcjjzmFormData" data-view-type="form">
    <h5>纳税人基本信息</h5>
    <!--内容1开始-->
    <div class="table_bg table_div">
        <table class="Yltable table_bg form-table" style="width: 100%;">
            <tr>
                <th style="width:200px;">纳税人识别号：</th>
                <td width="35%" style="width:250px;">
                    <input name="nsrsbh" class="mini-textbox" width="100%" readonly/>
                </td>
                <th style="width:200px;">纳税人名称：</th>
                <td style="width:250px;">
                    <input name="nsrmc" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>

            <tr>
                <th style="width:200px;">登记注册类型：</th>
                <td style="width:250px;">
                    <input name="djzclxDmText" class="mini-textbox" width="100%" readonly/>
                </td>
                <th style="width:200px;">税务登记地：</th>
                <td style="width:250px;">
                    <input name="swdjd" class="mini-textbox" width="100%"  readonly/>
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><span style="color: red">*</span>经办人：</th>
                <td style="width:250px;">
                    <input name="jbr" class="mini-textbox" width="100%" readonly/>
                </td>
                <th style="width:200px;">经办人手机：</th>
                <td style="width:250px;">
                    <input name="jbrsj" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>
            <tr>
                <th style="width:200px;"><span style="color: red">*</span>跨地区涉税事项报验管理编号：</th>
                <td style="width:250px;">
                    <input name="wcjyhdssglzmbh" class="mini-textbox" width="100%" readonly/>
                </td>
                <th style="width:200px;">经办人座机：</th>
                <td style="width:250px;">
                    <input name="jbrzj" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>
            <tr>
                <th><span style="color: red">*</span>合同相对方纳税人名称：</th>
                <td style="width:250px;">
                    <input name="htdfnsrmc" class="mini-textbox" width="100%" readonly/>
                </td>
                <th><span style="color: red;white-space: nowrap"></span>合同相对方纳税人识别号（社会信用代码）：</th>
                <td style="width:250px;">
                    <input name="htdfnsrsbh" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>
<!--            <tr>
                <th><span style="color: red">*</span>跨区域经营地行政区划：</th>
                <td style="width:250px;">
                    <input name="wcjydxzqhText" class="mini-textbox" width="100%" readonly/>
                </td>
                <th><span style="color: red">*</span>跨区域经营地乡镇街道：</th>
                <td style="width:250px;">
                    <input name="wcjyd" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>-->
            <tr>
                <th style="width:200px;"><span style="color: red">*</span>经营方式：</th>
                <td style="width:250px;">
                    <input name="jyfsText" class="mini-textbox" width="100%" readonly/>
                </td>
                <th>跨区域经营地：</th>
                <td><input id="jydjdxz" name="jydjdxz" class="mini-textbox" width="100%" readonly/></td>
            </tr>

            <tr>
                <th style="width:200px;">企业所得税：</th>
                <td><input name="qysdsText" class="mini-textbox" width="100%" readonly /></td>

                <th>跨区域涉税事项联系人：</th>
                <td><input name="kqysssxlxr" class="mini-textbox" width="100%" readonly /></td>
            </tr>

            <tr>
                <th style="width:200px;">跨区域涉税事项联系人座机：</th>
                <td><input name="lxrzj" class="mini-textbox" width="100%" readonly /></td>

                <th>跨区域涉税事项联系人手机号：</th>
                <td><input name="kqysssxlxrsj" class="mini-textbox" width="100%" readonly /></td>
            </tr>

            <tr>
                <th style="width:200px;" nowrap>经营地行政区划<span class="B_red"></span>：</th>
                <td style="width:250px;">
                    <input id="xzqhszDmText" name="xzqhszDmText" class="mini-textbox" width="100%" readonly
                           />
                </td>
                <th style="width:200px;" nowrap><span style="color: red">*</span>经营地街道乡镇：</th>
                <td style="width:250px;">
                    <input name="jdxzDmText" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>
            <tr>
                <th style="width:200px;" nowrap><span style="color: red">*</span>跨区域经营地主管税务局：</th>
                <td style="width:250px;">
                    <input id="zgswjDm" name="zgswjDmText" class="mini-textbox" width="100%" readonly />
                </td>
                <th style="width:200px;" nowrap><span style="color: red">*</span>跨区域经营地区县税务局：</th>
                <td style="width:250px;">
                    <input id="zgswskfjDm" name="zgswskfjDmText" class="mini-textbox" width="100%" readonly/></td>
            </tr>
            <tr>
                <th style="width:200px;" nowrap>隶属关系<span class="B_red"></span>：</th>
                <td style="width:250px;">
                    <input class="mini-textbox" style="width:90%;" name="dwlsgxDmText"  readonly/>
                </td>
                <th style="width:200px;" nowrap>税务机关联系电话：</th>
                <td style="width:250px">
                    <input class="mini-textbox" id="swjglxdh" name="swjglxdh" style="width:100%;"  readonly />
                </td>
            </tr>
            <tr>
                <th style="width:200px;" nowrap>跨区域经营主行业<span class="B_red"></span>：</th>
                <td style="width:250px;">
                    <input class="mini-textbox" style="width:90%;" name="hyDmText"  readonly/>
                </td>
                <th style="width:200px;">是否向对方机关推送跨区域涉税事项报验管理信息：</th>
                <td style="width:250px">
                    <input name="sftsdjxxText" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>
        </table>
    </div>

    <h5>本次跨区域涉税事项情况</h5>
    <div data-view-type="datagrid">
        <div id="hwxxsqDatagridData" class="mini-datagrid" style="width:100%;height:100px;    margin: 0 auto;" allowResize="false"
             enabled="false"
             showPager="false" showEmptyText="true" autoLoad="false" multiSelect="true" allowSortColumn="false"
             idField="id" checkSelectionOnly="true" allowCellSelect="true" allowCellEdit="false">
            <div property="columns">
                <div type="indexcolumn" width="50">序号</div>
                <div field="wcjyhwmc" vtype="required">
                    合同名称
                </div>
                <div field="htbh" vtype="required" width="180">
                    合同编号
                </div>
                <div field="wcjyhwyxqxq" vtype="required" align="center" dateFormat="yyyy-MM-dd">
                    合同有效期起
                </div>
                <div field="wcjyhwyxqxz" width="100" vtype="required" align="center" dateFormat="yyyy-MM-dd">
                    合同有效期止
                </div>
                <div field="wcjyhwzz" width="120" vtype="required" align="right">
                    合同总额
                </div>
            </div>
        </div>
    </div>

    <h5>其他信息</h5>
    <div class="table_bg table_div">
        <table class="Yltable table_bg form-table" style="width: 100%;">
            <tr>
                <th style="width:200px;"><span style="color: red">*</span>报验管理有效期起：</th>
                <td style="width:250px;">
                    <input name="zmyxqxq" class="mini-textbox" width="100%" readonly/>
                </td>
                <th style="width:200px;"><span style="color: red">*</span>报验管理有效期止：</th>
                <td style="width:250px;">
                    <input name="zmyxqxz" class="mini-textbox" width="100%" readonly/>
                </td>
            </tr>

            <tr>
                <th style="width:200px;" nowrap><span style="color: red">*</span>证明签发日期：</th>
                <td style="width:250px;">
                    <input class="mini-textbox" name="zmqfrq" readonly/>
                </td>
                <th style="width:200px;" nowrap><span style="color: red">*</span>申请日期：</th>
                <td style="width:250px">
                    <input class="mini-textbox"  name="sqrq" readonly/>
                </td>
            </tr>
            <tr>
                <th style="width:200px;" nowrap><span style="color: red">*</span>办税人姓名：</th>
                <td style="width:250px;">
                    <input class="mini-textbox" name="bsrxm" readonly/>
                </td>
                <th style="width:200px;" nowrap>办税人联系电话：</th>
                <td style="width:250px">
                    <input class="mini-textbox"  name="lxdh" readonly/>
                </td>
            </tr>
            <tr>
                <th style="width:200px;" nowrap><span style="color: red">*</span>税务登记地税务机关：</th>
                <td style="width:250px;">
                    <input name="swdjdswjg" class="mini-textbox"  style="width:90%;"  readonly/>
                </td>
            </tr>
        </table>
    </div>

</div>

<style>
    .Yltable{
        padding: 20px;
    }
    .Yltable th{
        text-align: right;
    }
</style>